
 * {
  box-sizing: border-box;
  margin    : 0;
  padding   : 0;
  font-family: "Poppins", sans-serif;
}
/*****************************************************Navigation Bar style**********************************************************/

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #222242;
  box-shadow: var(--shadow2);
  color: white;
}

ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.lift-side li{
  display: block;
  text-decoration: none;
  color: white;
  padding-right: 1rem;
  margin: auto;
}

.lift-side li a {
  display: block;
  text-decoration: none;
  color: white;
}

.back{
  display: inline;
  margin-right: 0;
}

.back i{
  margin-left: .5rem;
  font-size: 2.2rem;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
  margin-left: 0;
}

.navbar-links {
  height: 100%;
}
/******Notification*******/

.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.notification .badge {
  position: absolute;
  top: 2px;
  right:8px;
  padding: 1px 6px;
  border-radius: 50%;
  background: var(--orange);
  color: var(--vdarkblue);
  font-size: .7rem;
}
/************************/
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding-left: 1rem;
  padding-right: 1rem;
}

.navbar-links li:hover {
  font-weight: bold;
  font-size: 18px;
}

.navbar-links li:hover i{
  font-weight: bold;
  font-size: 1.7rem;
}

a:is(:link,:active,:hover).active{
  font-weight: bold;
  font-size: 18px;
}



/************************************************************************************************************************************/
    label{
        margin-left: 4%;
        margin-top: 3%;
        font-size: 18px;     
       
    }
    .reply{
      background-color: #fff;
      border-radius: 15px;
      padding: 2%;
      margin-left: 7%;
      outline: none;
      border: none;
      width: 84%;
      
    }
  
    h6{
      margin-left: 4%;
      margin-bottom: 0.75%;
         }
    .user_image{
   
      width: 70px;
       border-radius: 100%; 
      margin-left: 4%; 
       } 
/**  ---------------------  card for Add  Inquiries  ---------------------------------*/

 .Inquirieslable{
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 7%;
    font-size: 50px;
    padding-top:20px;
    color: #222242;
    
     }
     .card{
    position: absolute;
    top: 32%;
    left: 10%;
    height: 45vh;
    width: 75%;
    border-radius:15px;
    margin-bottom: 4%;
     }
     .AddInquiry{
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    top: 1%;
    left: 1%; 
     }
     .Inquiry{
    height: 8vh;
    position: absolute;
    top: 40%;
    left: 4%; 
    width: 92%;
    border: none;
    border-radius: 5px;
     }
     .btpost{
    font-size: 16px;
    background-color:#222242 ;
    color: white;
    width: 15%;
    height: 6vh;
    font-weight: 600;
    position: absolute;
    top:77%;
    right: 5%;
    border: none;
    border-radius: 30px;
    margin-top: 10px;
     }
   
     .btpost:hover{
           color: white;
         }
  /*---------------------  card for student  Inquiries  ---------------------------------*/
    
     main{
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          width: 90%;
          margin-left: 8%;
          position: absolute;
          top: 80%;
         /* height:70vh;
          overflow: auto;
          */
          height: auto;
          }
             
    .cardst{
      background-color: #e5f3fe;
    margin-top: 3%;
    margin-left: 2%;
    height: 40%;
    width: 84%;
    border-radius:10px;
    padding-top: 2%;
    padding-bottom: 2%;
    }
    .cardst:hover{
      box-shadow: 0 0 11px rgba(33,33,33,.2); 
    }
    /* ----------------------------------------------------------------------------------*/
    .card{
      background-color: #e5f3fe;
    }
    .Inquiry{
    outline: none;
    border: none;
    width: 90%;
       height: 100px;
      padding: 12px 20px;
      border-radius: 10px;
      background-color: #fff;
      font-size: 16px;
      resize: none;
    
    }
 .divcontanier{
  width: 60%;
  margin:0 3% 0 4% ;
  display: grid;
  grid-template-columns: 90px auto;
  align-items: center;
  padding: .2rem  1rem;

   }
    .datetime{
      font-size: 12px;
      margin-bottom: 10px;
      color: #222242;
    }
    .content{
      text-align: justify;
      text-justify: inter-word;
      margin-left: 8%;
    }
    .las.la-clock{
      font-size: 16px;
      margin-right: 5px;
      margin-left: 20px;
      }
    .reply{
   
    }
    /*----------------------------------------------------------------------------------------------------*/
    .studentname{
        
        font-size: 200%;
        font-weight: 200;
        display:inline;
    }
   .studentid{
         margin-left: 4%;
   }
    p{
        margin-left: 4%;
        margin-top: 3%;
        width: 80%;
    }
    hr{
        margin:2% 6% 0 6%;
        border: 0;
        height: 2px;
        background-color: #fff;
        border-radius: 15px;
    }
    
 
/***************************************************************************************************************************/
/**************************************************************************************************************************/
.input-container {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  width: 95%;
  margin-bottom:2%;
  margin-top: 4%;
}
a{
  margin-top: 1%;
 
}

.icon {
  padding: 10px;
  background:#A4D2F0;
  color: #222242;
  min-width: 50px;
  text-align: center;
  border-radius: 0px 5px 5px 0px;
  border: none;
  margin-top: 1%;
  height: 8vh;
  cursor: pointer;

}
.icon:hover{
  background:#222242;
  color: #fff;
}

.input-field {
  width: 80%;
  padding: 10px;
  outline: none;
}

    .reply_text{
    margin-left: 4%;
    margin-top: 1%;
    height: 8vh;
    width: 89%;
    border: none;
    border-radius: 5px 0px 0px 5px;
    font-size: 18px;
    font-weight: 600;
    padding-left: 2%;
      }
/*******************************************************************************************************/
/************************Delete and Edit icons**********************************************************/    
  .card-container{
   
  
  }  
#deleteicon1{
  display: inline-block;
    position: absolute;
    right: 15px;
    font-size: 27px;
    margin-left: 80%;
    font-size: 22px;
    right:22% ;
    margin-top: 1%; 
    color:#222242;
    }
    #deleteicon1:hover{
        color: #D92A2A;
    }
    #Editicon{
      display: inline-block;
      font-size: 27px;
      margin-left: 85%;
      font-size: 22px;
      right:40% ;
      margin-top: 1.5%; 
      color:#222242;
    }
    #Editicon:hover{
      color: #A4D2F0;
  }
 
    @media only screen and (max-width:700px)
    {
        
    .btpost{
    font-size: 14px;
    width: 26%;
     } 
     .reply{
    width: 85%;
    font-size: 15px;
    
     }
     .studentname{
        font-size: 150%;
     }
     p{
        font-size: 15px; 
     }
   
    }

    @media only screen and (max-width:700px)
    {
      #Editicon{
       
        margin-left: 75%;
            }}
    
 .btpost:hover{
  cursor: pointer;
  color: #222242;
        background-color: rgb(255, 255, 255);
        border: 2px double #222242; }
      
/****************************************************************************************************/
/**************************** on hovering note *****************************************************/
.tooltip {
  position: relative;
  display: inline-block;
  position:absolute;
  right: 22%;
  margin-top:1%;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #A4D2F0;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}  
/***************************************************************************************************/
/***************************************************************************************************/  
/***************************************************************************************************/  
/***************************************************************************************************/       
