@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
    --darkblue:#2A3D6C ;
    --vdarkblue:#222242 ;
    --orange:#FFBA5F;
    --shadow1:rgba(17,17,26,0.1) 2px 2px 16px; 
    --shadow2:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
    --lightblue:#A4D2F0;
    --lightgreen:#D8E6D6;
    --vlightblue:#e5f3fe;
    --darkgreen:#53744A;
    --red:#D92A2A;
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*****************************************************Navigation Bar style**********************************************************/

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #222242;
    box-shadow: var(--shadow2);
    color: white;
}

.navbar ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.lift-side li{
    display: block;
    text-decoration: none;
    color: white;
    /* padding-right: 1rem; */
    margin: auto;
}

.lift-side li a {
    display: block;
    text-decoration: none;
    color: white;
    /* padding: 1rem; */
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-right: 1rem;
}

.back{
    display: inline;
    margin-right: 0;
}

.back i{
    margin-left: .5rem;
    font-size: 2.2rem;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    margin-left: 0;
}

.navbar-links {
    height: 100%;
}
/******Notification*******/

.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  
  .notification .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1px 6px;
    border-radius: 50%;
    background: var(--orange);
    color: var(--vdarkblue);
    font-size: .7rem;
  }
/************************/
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    font-weight: bold;
    font-size: 18px;
}

.navbar-links li:hover i{
    font-weight: bold;
    font-size: 1.7rem;
}

a:is(:link,:active,:hover).active{
    font-weight: bold;
    font-size: 18px;
}

/***********************************************main container for (add material)*************************************************/

.main-container{
    margin: 2rem 8rem 0rem;
}
.main-container .title h1{
    font-size: 50px;
    padding-top:20px;
}

.main-container .inputs{
    background: var(--vlightblue);    
    box-shadow: var(--shadow1);
    border-radius: 15px;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
}
.main-container .inputs label{
    display: block;
    font-size: 28px;
    font-weight: bold;
}

.main-container .inputs input{
    background:var(--vlightblue);
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--vdarkblue);
    font-size: 20px;
    margin-top: 10px;
}
/******************************** textarea field**************************************/
.main-container .inputs textarea{
    background:var(--vlightblue);
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--vdarkblue);
    font-size: 20px;
    margin-top: 10px;
}

/*****************************attach field******************************************/
.container_wrapper{
    margin-top: 25px;
    text-align: center;
}
.wrapper{
    display: inline-flex;
    text-align: center;
  }

/**Upload Button**/

.container {
    background-color: #ffffff;
    width: 90%;
    max-width: 34.37em;
    position: relative;
    margin: 3.12em auto;
    padding: 3.12em 1.25em;
    border-radius: 15px;
    box-shadow: 0 1.25em 2.18em rgb(1, 28, 71, 0.3);
}
input[type="file"] {
    display: none;
}

.lab{
    display: block;
    position: relative;
    background-color: var(--vdarkblue);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    color: #ffffff;
    text-align: center;
    width: 100px;
    height: 100px;
    padding: 2rem;
    margin: auto;
    border-radius:100%;
    cursor: pointer;
}
.lab i{
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
}

.lab:hover i{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}

#num-of-files {
    font-weight: 400;
    text-align: center;
    margin: 1.25em 0 1.87em 0;
}

/**file list***/

ul {
    list-style-type: none;
}
.container li {
    font-weight: 500;
    background-color: var(--vlightblue);
    color: var(--vdarkblue);
    margin-bottom: 1em;
    padding: 1.1em 1em;
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
}
.container li i{
    color: var(--vdarkblue);
    font-size: 30px;
    margin-right: 30px;
}
  
/****Button*****/
.container_wrapper .btn_post{
    margin:3rem 0rem 0rem 0rem;
}
.container_wrapper .btn_post button{
    border       : 2px double var(--vdarkblue);
    padding      : 10px 24px;
    color        : #fff;
    border-radius: 25px;
    background: var(--vdarkblue);
    width: 150px;
    text-transform  : uppercase;
    font-size       : 14px;
}

button[type="submit"]:hover {
   color: var(--vdarkblue);
   font-weight: bold;
   background-color: #fff;
   cursor: pointer;
}

 /****Buttons in join page*****/
.main-container .btn_post{
    margin:3rem 0rem 0rem 0rem;
}
.main-container .btn_post button{
    border       : 2px double var(--vdarkblue);
    padding      : 10px 24px;
    color        : #fff;
    border-radius: 25px;
    background: var(--vdarkblue);
    width: 150px;
    text-transform  : uppercase;
    font-size       : 14px;
}
 button[type="submit"]:hover {
    color: var(--vdarkblue);
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
}

.main-container .btn_post .btn_cancel_join{
    background: #FFBA5F;
    border: 2px double #FFBA5F;
}
.main-container .btn_post .btn_cancel_join a{
    color: var(--vdarkblue);
}
.main-container .btn_post .btn_cancel_join:hover{
    background-color: #fff;
    border: 2px double var(--orange);
    cursor: pointer;
}
.main-container .btn_post .btn_cancel_join:hover a{
    color: #ffa024;
    font-weight: bold;
}

/***********************************************main container just for (add assignment)*************************************************/

.main-container .inputs.name input{
  border: none;
}


@media only screen and (max-width:640px) {
    .main-container{
        margin: 2rem 6rem 0rem;
    }
}

@media only screen and (max-width:582px) {
    .main-container{
        margin: 2rem 4rem 0rem;
    }
}
@media only screen and (max-width:513px) {
    .main-container .title h1{
        font-size: 40px;
    }
    .main-container .inputs label{
        font-size: 24px;
    }
    .main-container .inputs input{
        font-size: 16px;
    }

}
/**********************************************************************/
/********************:) **********************************************/
/**file list for download page ***/

.row {
    border-collapse: separate;
    margin: 0;
    padding: 0;
    table-layout: auto;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    table-layout: fixed;
    border-spacing: 0 10px;
    display: flex;
    justify-content: center;   
    }
.row tr {
    padding: .2em;
    margin-bottom: 10px;
    box-shadow: var(--shadow1);
    font-weight: 500;
    margin-bottom: 1em;
    padding: 1.1em 1em;
    border-radius: 0.3em;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    
}

.row th,td {
    padding: 1em 2em;
    text-align: left;
    width: 1%;
    white-space: nowrap;
 }
.row  i{
    color: var(--vdarkblue);
    font-size: 30px;
    margin-right: 30px;
}

#file {
    width: 60%;
    white-space: nowrap;
}
#icon1:hover {
    color: #A4D2F0;
}
#icon2:hover {
    color: #D92A2A;
}


@media(max-width: 884px){
	
    .row{
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        
    }

	.row, .row tbody, .row tr, .row td{
		display: block;
		width: 100%;
       
	}
	.row tr{
        display: block;	
		margin-bottom:15px;
   	}
	.row td{
		
		text-align: center;
		position: relative;
	}
    #icon3,#icon2,#icon1{
        font-size: 2.5em;
    }
 
	
}
/**********************************************************************/
/********************:)the end ***************************************/

   





