@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
    --darkblue:#2A3D6C ;
    --vdarkblue:#222242 ;
    --orange:#FFBA5F;
    --shadow1:rgba(17,17,26,0.1) 2px 2px 16px; 
    --shadow2:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
    --lightblue:#A4D2F0;
    --lightgreen:#D8E6D6;
    --vlightblue:#e5f3fe;
    --vvlightblue:#f5fafe;
    --darkgreen:#53744A;
    --red:#D92A2A;
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


/*****************************************************Navigation Bar style**********************************************************/

.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #222242;
  box-shadow: var(--shadow2);
  color: white;
}

ul{
  display: flex;
  margin: 0;
  padding: 0;
}

.lift-side li{
  display: block;
  text-decoration: none;
  color: white;
  padding-right: 1rem;
  margin: auto;
}

.lift-side li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.back{
  display: inline;
  margin-right: 0;
}

.back i{
  margin-left: .5rem;
  font-size: 2.2rem;
}

.brand-title {
  font-size: 1.5rem;
  margin: .5rem;
  margin-left: 0;
}

.navbar-links {
  height: 100%;
}
/******Notification*******/

.notification {
  color: white;
  text-decoration: none;
  position: relative;
  display: inline-block;
}

.notification .badge {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 1px 6px;
  border-radius: 50%;
  background: var(--orange);
  color: var(--vdarkblue);
  font-size: .7rem;
}
/************************/
.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar-links li:hover {
  font-weight: bold;
  font-size: 18px;
}

.navbar-links li:hover i{
  font-weight: bold;
  font-size: 1.7rem;
}

a:is(:link,:active,:hover).active{
  font-weight: bold;
  font-size: 18px;
}
/***********************************************************************************************************************************/
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 85%;
    margin-left: 8.5%;
    position: absolute;
    top: 30%;
    height: auto;
}
h1{
    margin-top: 5%;
    margin-left: 8.5%;
}
.card{
    margin: 0;
    background-color:var(--vlightblue);
    width: 97%;
    margin-top: 1%;
    border-radius: 15px;
    padding: 1rem;
    margin-bottom: .5rem;
}
.card:hover{
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}
.text{
    margin-left: 3%;
}
.card__time{
  font-size: 12px;
  margin-left: 3%;
  margin-bottom: 10px;
}
.card__time.due_date{
  margin-top: 10px;
  margin-bottom: 0px;
}
.las.la-clock{
  font-size: 16px;
  margin-right: 5px;
}
.fa-solid.fa-xmark.tr{
    color: #000000;
    font-size: 20px;
}
.fa-solid.fa-xmark.tr:hover {
    color: var(--red);
    font-weight: bolder;
    font-size: 22px;
}
.las.la-pen.ticon.tr{
  color: #000000;
  font-size: 20px;
}
.las.la-pen.ticon.tr:hover{
  color: #36249e;
  font-weight: bolder;
  font-size: 22px;
}

@media only screen and (max-width:700px)
{
.text{
  font-size: 18px;
}
h1{
  font-size: 32px; 
}
}

/****************************************************just for assignment************************************************************/

.btn-create{
    margin-right: 2%;
    margin-top: 10px;
    border: none;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    font-size: 35px;
    color: #FFFFFF;
    font-style: bold;
    background: #222242;
    box-shadow: var(--shadow2);
    transition: background-color 0.3s;
}

.btn-create:hover{
    color: #000000;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #222242;
}
.btn-create a{
    color: #ffffff;
}
.btn-create a:hover{
    color: #222242;
}