@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
    --darkblue:#2A3D6C ;
    --vdarkblue:#222242 ;
    --orange:#FFBA5F;
    --lightorange:#fcc680;
    --shadow1:rgba(17,17,26,0.1) 2px 2px 16px; 
    --shadow2:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
    --lightblue:#A4D2F0;
    --lightgreen:#D8E6D6;
    --vlightblue:#e5f3fe;
    --darkgreen:#53744A;
    --red:#D92A2A;
}
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    overflow-x: hidden;
}
.img {
    width: 100%;
    height: auto;
} 

/*****************************************************Menu Sidebar style**********************************************************/

/*menu icon*/
#menu-toggle{
    display: none;
} 

#menu-toggle:checked ~ .sidebar{
    left:-290px;
}

#menu-toggle:checked ~ .main-content{
    margin-left: 0;
    width: 100vw; 
}
.sidebar {
    Width:290px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: left 300ms;
    
}
.sidebar-container{
    height: 100%;
    width: 100%;
    background:#222242;
    box-shadow: var(--shadow2);
    padding: 1rem;
    overflow-y: auto;
    
}
.sidebar-container::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.sidebar-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .sidebar-container::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .sidebar-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

/*profile photo*/
.sidebar-avartar{
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    margin: 2rem 0rem 2rem;
    padding: .1rem 0 rem;
    color: #FFFFFF;
}
.sidebar-avartar img{
    width: 70px;
    border-radius: 100%;
}
.avartar-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avartar-text h4{
    font-size: 18px;
}
.avartar-text p{
    font-size: 16px;
}

/*menu items*/
.sidebar-menu li{
    margin-bottom: 1rem;
}
.sidebar-menu a{
    color: #FFFFFF;
    font-size: 16px;
    display: block;
    padding: .7rem 0rem;
}
.sidebar-menu a:hover{
    font-weight: bolder;
    font-size: 18px;
}


a:is(:link,:active,:hover).active{
    font-weight: bolder;
    font-size: 18px;
}

.sidebar-menu ul{
    margin-left: 3rem; 
}
.sidebar-menu a span:first-child{
    display: inline-block;
    margin-right: .8rem;
    font-size: 18px;
    color: #FFFFFF;
}

/*admin card in sidebar*/
.sidebar-card{
    /* text-align: center; */
    padding-top: .5rem;
    margin-left: 1rem;
}
.sidebar-card img{
    width: 180px;
    height: auto;
    margin: 0px;
}
.sidebar-card-btn{
    background: #FFFFFF;
    border-radius: 15px;
    width: 65%;
    margin: 0rem 2rem 0rem 2rem;
}
.btn-admin{
    padding: .5rem 1rem;
    border: none;
    border-radius: 15px;
    background-color: var(--lightblue);
    color: var(--darkblue);
    font-size: 14px;
    width: 60%;
    margin: 1.5rem 1.5rem 1.5rem 2rem ;
    font-weight: bold;
    text-transform  : uppercase;
    transition      : background-color 0.3s;
}
.btn-admin:hover{
   /*  background: var(--orange); */
    color: #000000;
    background-color: #fff;
    cursor: pointer;
    border: 2px double #222242;
    border-radius: 25px;
}
/*****************************************************Groups_conrrol_panel style*****************************************************/

/********************* main container ********************/
.main-content{
    margin-left:290px;
    width: calc(100vw - 290px);
    transition: margin-left 300ms;
    padding: 1rem 6rem;
}

/*header box*/
header{
    display: flex;
    align-items: center;
}

.header-title{
    display: flex;
    margin-left: 1rem;
}
.header-title label{
    display: none;
    color: var(--darkblue);
    margin-top: 1rem ;
    font-size: 3rem;
}

.header-box{
	height: 250px;
	width: 99%;
	box-shadow: var(--shadow2);
	background: var(--lightblue);
	margin-top: 20px;
 	border-radius: 15px;
}
.header-box img{
	width: 420px;
    float: right;
    margin-right: 100px; 
}

.header-box-content{
    float: left; 
    padding:25px;
}

.header-box-content{
    text-align: center;
}
.header-box-content h2{
    font-size: 28px;
    padding: 1rem;
    color: var(--vdarkblue);
}
.btn-create{
    border: none;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: #FFFFFF;
    font-style: bold;
    background: var(--vdarkblue);
    box-shadow: var(--shadow2);
    transition      : background-color 0.3s;
}

.btn-create:hover {
    color: #000000;
    background-color: #fff;
    cursor: pointer;
    border: 2px double #222242;
}

main{
    padding-top: 3rem;
}
.show_tr_g a:hover{
    color: #2A3D6C;
}

/*************groups card***************/
.group-cards{
    display: grid;
    width: 99%;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0rem 2rem;
}

.group-card{
    box-shadow: var(--shadow2);
    padding: 0.5rem .5rem 0rem;
    border-radius: 15px;
    background: #fff;
    display: flex;
    justify-content: center; 
    margin-top: 2rem;
    transition:  0.5s;
}
.group-card a{
    width: 85%;
   }

.group-card:hover{
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: var(--orange); 
}
.group-card-info{
    width: 90%;
    margin: 1rem 2rem 2.8rem .5rem;
}
.group-card-info h3{
    font-size: 18px;
    color: var(--vdarkblue);
}

.group-card-info p{
    font-size: 14px;
    color: var(--vdarkblue);
    margin-top: 5px;
}
.group-card-num{
    position: relative;
    width: 15%;
    margin-left: 15px;
}
.group-card-num a{
    margin-left: 2.5px;
}

.group-card-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: var(--vdarkblue);
    color: #fff;
    margin-left: .7rem;
    position: absolute;
    bottom: 15px;
    right: 0;
}

.group-card-icon span{
    font-size: 18px;
}

.members-num{
    font-size: 16px;
    position: absolute;
    bottom: 15px;
    right: 36px;
    color: var(--vdarkblue);
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    background: rgba(255,255,255,0.5);
}
.overlay label{
   display: block;
   height: 100%;
   width: 100%;
}

a.show_tr_g:hover{
color: rgb(56, 56, 56);
}

.msg.error li{
    margin-left:30%;
}

@media only screen and (max-width:1334px) {

     .header-box img{
        margin-top: 0rem; 
        margin-right: .3rem;
        width: 440px;
    } 
/*       .group-cards{
        grid-template-columns: repeat(2,1fr);
    }  */
}
@media only screen and (max-width:1370px) {

    .header-box img{
       margin-top: 0rem; 
       margin-right: .1rem;
       width: 400px;
   } 
/*      .group-cards{
       grid-template-columns: repeat(2,1fr);
   }  */

}
@media only screen and (max-width:1300px) {

      .group-cards{
       grid-template-columns: repeat(2,1fr);
   }  

}

@media only screen and (max-width:970px) {
 
    .header-box img{
         display: none; 
    }
    .header-box-content{
         width: 100%;
    }   
    .header-box-content-table{
        width: 100%;
}    
}
@media only screen and (max-width:540px) {

    .group-cards{
         grid-template-columns: 100%;
    } 
    .header-box h4{
        font-size: 14px;
    }
}


@media only screen and (max-width:610px) {

    .group-cards{
         grid-template-columns: 100%;
    }
}
@media only screen and (max-width:1280px) {
    .sidebar{
        left: -290px;
        z-index: 30;
    }
    .main-content{
        width: 100vw;
        margin-left: 0;
    }
    #menu-toggle:checked ~ .sidebar{
        left: 0;
    }
    #menu-toggle:checked ~ .overlay{
        display: block;
    }

    .header-title label{
       display: inline-block;
       cursor: pointer;
    }
    span.clear-btn{
        right: 40%;
    }
}

/***************************************************** Teacher/Student/File_Control_Panel Style ***********************************************************/

#b-vlightblue{
    background: var(--vlightblue);
}

/*header box*/

.header-box-content-table{
    float: left; 
    padding:25px;
}
.header-box-content-table img{
	width: 620px;
    float: right;
    margin-right: 100px; 
}
.header-box-content-table{
    text-align: center;
}
.header-box-content-table h2{
    font-size: 26px;
    padding-left: 1rem;
    color: var(--vdarkblue);
}
.header-box-content-table h4{
    font-size: 18px;
    padding-left: 1rem;
    color: var(--vdarkblue);
}
/***********/

/*Style the search field*/
div.search{
    margin-top: 4rem;
    text-align: center;
}
div.search.group{
    margin-top: 2rem;
}
.search input[type=text] {
    padding: 10px;
    font-size: 14px;
    width: 30%;
    border: none;
    border-radius : 15px 0px 0px 15px;
    background: #fff;
    box-shadow: var(--shadow1);
    margin-bottom: 12px;
    outline: none;
}
/****clear btn****/
span.clear-btn{
    position: absolute;
    right: 35%;
    margin-top: 13px;
    margin-left: 10px;
    font-size: 14px;
    color: rgb(87, 91, 95);
    cursor: pointer;
}
span.clear-btn:hover{
    color:var(--vdarkblue);
}
/*submit button*/
.search button {
    width: 10%;
    padding: 10px;
    background: var(--vdarkblue);
    color: white;
    font-size: 14px;
    border-radius : 0px 15px 15px 0px;
    border: none;
    cursor: pointer;
}
.search button:hover {
    background: var(--orange);
    color: #000;
}
/* Clear floats */
.search::after {
    content: "";
    clear: both;
    display: table;
}
/**********************/

/*table*/
.table-box{
	width:99%;
	box-shadow: var(--shadow);
	margin-top: 30px;
	border-radius: 10px;
	float: left;
}

table {
    border-collapse: separate;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    table-layout: fixed;
    border-spacing: 0 10px;
}

table tr {
    padding: .15em;
    margin-bottom: 10px;
    box-shadow: var(--shadow1);
}
thead{
    box-shadow: var(--shadow1);
    color: var(--vdarkblue);
}

table th,table td {
    padding: 1em;
    text-align: left;
    background: #FFFFFF;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.tab-img{
	display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    border: 1px solid #000;
    border-radius:100%;
    margin-right: 8px;
}
.tab-img image{ 
    width: 30px;
    height: 30px;
}

.ticon{
	padding: 5px;
	background: var(--gray);
	border-radius: 4px;
	width: 15px;
	height: 15px;
	text-align: center;
    font-size: 20px;
    margin-left: 10px;
}
.ticon.edit{
    color: var(--darkblue);
}
.ticon.delet{
    color: var(--red);
}
 .ticon:hover{
    cursor: pointer;
    font-size: 24px;
    font-weight: bolder;
 }
 .ticon.edit:hover{
    color: var(--vdarkblue);
 }

 .ticon.delet:hover{
    color:#9b1d1d;
 } 

 /* just for file_control_panel*/
 .header-box.file{
	height: 250px;
	width: 99%;
	box-shadow: var(--shadow2);
	background: var(--lightblue);
	margin-top: 20px;
 	border-radius: 15px;
}
.header-box.file img{
	width:auto;
    height: 250px;
    float: right;
    margin-right: 100px; 
}

 /* just for admin_control_panel*/
 .header-box.admin{
	height: 250px;
	width: 99%;
	box-shadow: var(--shadow2);
	background: var(--lightblue);
	margin-top: 20px;
 	border-radius: 15px;
}
.header-box.admin img{
	width:auto;
    height: 250px;
    float: right;
    margin-right: 100px; 
}


@media(max-width: 884px){
	.table thead{
		display: none;
	}
    .table-box{
        border-radius: 25px;
    }

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
   
 @media only screen and (max-width:1401px) {

    .header-box.tr img{
       margin-top: 0rem; 
       margin-right: .1rem;
       width: 400px;
   } 
}
@media only screen and (max-width:994px) {
 
    .header-box.tr img{
         display: none; 
    }
    .header-box.tr .header-box-content{
         width: 100%;
    }   
    .header-box.tr .header-box-content-table{
        width: 100%;
}    
}


@media only screen and (max-width:1280px) {
    span.clear-btn{
        right: 42%;
    }
}
      
@media only screen and (max-width:820px) {
    .search input[type=text] {
        width: 50%;
    }
    .search button {
        width: 20%;
    }
    span.clear-btn{
        right: 39%;
    }
    .msg.error li{
        margin-left:15%;
    }
}
@media only screen and (max-width:600px) {
    .search input[type=text] {
        width: 60%;
    }
    span.clear-btn{
        right: 38%;
    }
    .header-box.tr h2{
        font-size: 24px;
    }
    .msg.error li{
        margin-left:10%;
    }
}
/*for error message in js*/
p#demo {
    color: var(--red);
    margin-bottom: 20px;
    text-align: left;
    margin-left: 30%;
}