:root{
    --darkblue:#2A3D6C ;
    --vdarkblue:#222242 ;
    --orange:#FFBA5F;
    --shadow1:rgba(17,17,26,0.1) 2px 2px 16px; 
    --shadow2:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
    --lightblue:#A4D2F0;
    --lightgreen:#D8E6D6;
    --vlightblue:#e5f3fe;
    --darkgreen:#53744A;
    --red:#D92A2A;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
#menu-toggle{
    display: none;
} 

#menu-toggle:checked ~ .sidebar{
    left:-290px;
}

#menu-toggle:checked ~ .main-content{
    margin-left: 0;
    width: 100vw; 
}
/***************************Menu***************************/
.sidebar {
    Width:290px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    
    transition: left 300ms;
}

 .img {
    width: 100%;
    height: auto;
} 

.sidebar-container{
    height: 100%;
    width: 100%;
    background:#222242;
    
    box-shadow: var(--shadow2);
    padding: 1rem;
    overflow-y: auto;
}

.sidebar-container::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.sidebar-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .sidebar-container::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .sidebar-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }


.brand img{
    width: 30px;
}

/****profile photo****/
.sidebar-avartar{
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    margin: 2rem 0rem 2rem;
    padding: .1rem 0 rem;
    color: #FFFFFF;
}
.sidebar-avartar img{
    width: 70px;
    border-radius: 50%;
}
.avartar-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avartar-text h4{
    font-size: 20px;
}
.avartar-text p{
    font-size: 18px;
}

/****menu item****/
.sidebar-menu li{
    margin-bottom: 2rem;
}
.sidebar-menu a{
    color: #FFFFFF;
    font-size: 20px;
    display: block;
    padding: .7rem 0rem;
}
.sidebar-menu a:hover{
    font-weight: bolder;
}

.sidebar-menu ul{
    margin-left: 4rem; 
}
.sidebar-menu a span:first-child{
    display: inline-block;
    margin-right: .8rem;
    font-size: 24px;
    color: #FFFFFF;
}

/***admin card***/
.sidebar-card{
    text-align: center;
    padding-top: .5rem;
}

.sidebar-card img{
    width: 180px;
    height: auto;
    margin: 0px;
}

.sidebar-card-btn{
    background: #FFFFFF;
    border-radius: 15px;
    width: 65%;
    margin: 0rem 2rem 0rem 3rem;
}
.btn-admin{
    padding: .5rem 1rem;
    border: none;
    border-radius: 15px;
    background-color: var(--lightblue);
    color: var(--darkblue);
    font-size: 16px;
    width: 60%;
    margin: 1.5rem 1.5rem 1.5rem 2rem ;
    font-weight: bold;
}

.btn-admin:hover{
    background: var(--orange);
    cursor: pointer;
}
/**********************************************************************/

/*************************** main container ***************************/
.main-content{
    margin-left:290px;
    width: calc(100vw - 290px);
    transition: margin-left 300ms;
    padding: 1rem 6rem;
}

/****header box****/
header{
    display: flex;
    align-items: center;
}

.header-title{
    display: flex;
    margin-left: 1rem;
}
.header-title label{
    display: none;
    color: var(--darkblue);
    margin-top: 1rem ;
    font-size: 3rem;
}
main{
    padding-top: 3rem;
}
.members-num{
    font-size: 18px;
    position: absolute;
    bottom: 15px;
    right: 44px;
}
.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    background: rgba(255,255,255,0.5);
}
.overlay label{
   display: block;
   height: 100%;
   width: 100%;
}

@media only screen and (max-width:1257px) {
    .sidebar{
        left: -290px;
        z-index: 30;
    }
    .main-content{
        width: 100vw;
        margin-left: 0;
    }
    #menu-toggle:checked ~ .sidebar{
        left: 0;
    }
    #menu-toggle:checked ~ .overlay{
        display: block;
    }

    .header-title label{
       display: inline-block;
 
    }
}
/**********************************************************************/

/**************************Create group_tr_admin**********************/
 .main-content.group{
    min-width: 710px;
} 
#b-vlightblue{
    background: var(--vlightblue);
}

input[type="text"],
input[type="password"],
select,
button {
    width        : 50%;
    border       : 2px double #222242;
    padding      : 10px 24px;
    color        : #000;
    border-radius: 25px;
    margin-bottom: 20px;
} 

.g_tr_admin-container {
    width              : 99%;
    height             : 93vh;
    padding            : 50px 50px;
    background-position: center;
    background-repeat  : no-repeat;
    position           : relative;
    border-radius      : 15px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
    margin-top: 0px;
}

.g_tr_admin-container::before {
    content         : "";
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: #fff;
    border-radius      : 15px;
}

.g_tr_admin-form {
    z-index      : 1;
    position     : relative;
    margin-bottom: 20px;
}

.g_tr_admin-form img{
    width: 150px;
    height: 150px;
    margin: 0px 0px 0px 0px;
    border-radius: 100%;
}

.g_tr_admin-form h2{
    font-size: 28px;
    color: var(--vdarkblue);
}

 form .form-field::before {
    position: absolute;
    left: 18px;
    top: 13px;
    content: " ";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
              
  }
  form .form-field:nth-child(1)::before {
    background-image: url(https://img.icons8.com/small/512/user.png);
    width: 28px;
    height: 28px;
    top:0.4em;
    left: 27%;
  }
  form .form-field:nth-child(2)::before {
    background-image: url(https://img.icons8.com/small/512/user.png);
    width: 28px;
    height: 28px;
    top:0.4em;
    left: 27%;
  }
  form .form-field.tr:nth-child(2)::before {
    background-image: url(https://img.icons8.com/small/512/phone.png);
    width: 28px;
    height: 28px;
    top:0.4em;
    left: 27%;
  }
  form .form-field.tr:nth-child(3)::before {
    background-image: url(https://img.icons8.com/material-outlined/512/lock.png);
    width: 28px;
    height: 28px;
    top:0.4em;
    left: 27%;
  }
  form .form-field.tr:nth-child(4)::before {
    background-image: url(https://img.icons8.com/material-outlined/512/lock.png);
    width: 28px;
    height: 28px;
    top:0.4em;
    left: 27%;
  }
  form .form-field {
    
     align-items: center;
     margin-bottom: 1rem;
     position: relative;
      }

      form input {
        font-family: inherit;
        width: 100%;
        background-color: #fff;
        display: inline;
        padding: 0.9rem 0.7rem;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 17px;
        text-indent: 30px;
       
      } 
      select{
        font-family: inherit;
        background-color: #fff;
        display: inline;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 17px;
        text-indent: 30px;
      }

    
      button[type="submit"] {
        text-align      : center;
        text-transform  : uppercase;
        font-size       : 14px;
        background-color: #222242;
        color: #fff;
        cursor          : pointer;
        transition      : background-color 0.3s;
    }
    
    button[type="submit"]:hover {
       color: #000000;
       font-weight: bold;
       background-color: #fff;
    }
 
    
      .additional-action {
        position       : relative;
        width          : 100%;
        display        : flex;
        justify-content: space-between;
        color          : #000000;
        margin-bottom  : 20px;
        cursor         : pointer;
        letter-spacing : 0.3px;
        justify-content : center;
       
    }


    @media only screen and (max-width:720px) {
        .g_tr_admin-container {
            height             : 130vh;
        }
    
    }


/***************************just for admin*****************************************/
    .g_tr_admin-container.admin {
        height    : 93vh;
    }

    form .form-field.admin:nth-child(2)::before {
        background-image: url(https://img.icons8.com/material-outlined/512/lock.png);
        width: 28px;
        height: 28px;
        top:0.4em;
        left: 27%;
      }
      form .form-field.admin:nth-child(3)::before {
        background-image: url(https://img.icons8.com/material-outlined/512/lock.png);
        width: 28px;
        height: 28px;
        top:0.4em;
        left: 27%;
      }

/***************************just for teacher*****************************************/
.g_tr_admin-container.tr {
    height    : 300vh;
}

form .form-field.tr:nth-child(2)::before {
    background-image: url(https://img.icons8.com/small/512/phone.png);
    width: 28px;
    height: 28px;
    top:0.4em;
    left: 27%;
  }
  form .form-field.tr:nth-child(3)::before {
    background-image: url(https://img.icons8.com/material-outlined/512/lock.png);
    width: 28px;
    height: 28px;
    top:0.4em;
    left: 27%;
  }
  form .form-field.tr:nth-child(4)::before {
    background-image: url(https://img.icons8.com/material-outlined/512/lock.png);
    width: 28px;
    height: 28px;
    top:0.4em;
    left: 27%;
  }
/**************************for circular image************************/
  .profile-pic-div{
    display: inline-flex;
    align-items: center;
    height: 200px;
    width: 200px;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    overflow: hidden;
    border: 1px solid grey;
    margin-top: 140px;
    margin-bottom: 0px;
    margin-left: 200px;
}

#photo{
    height: 100%;
    width: 100%;
}

#file{
    display: none;
}

#uploadBtn{
    height: 40px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: wheat;
    line-height: 30px;
    font-family: sans-serif;
    font-size: 15px;
    cursor: pointer;
    display: none;
}
.login-form .img_title {
    height: 300px;
    margin-bottom: 0dp;
}

