@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
    --darkblue:#2A3D6C ;
    --vdarkblue:#222242 ;
    --orange:#FFBA5F;
    --shadow1:rgba(17,17,26,0.1) 2px 2px 16px; 
    --shadow2:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
    --lightblue:#A4D2F0;
    --lightgreen:#D8E6D6;
    --vlightblue:#e5f3fe;
    --vvlightblue:#f5fafe;
    --darkgreen:#53744A;
    --red:#D92A2A;
}

*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/*****************************************************Navigation Bar style**********************************************************/

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #222242;
    box-shadow: var(--shadow2);
    color: white;
}

.navbar ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.lift-side li{
    display: block;
    text-decoration: none;
    color: white;
    /* padding-right: 1rem; */
    margin: auto;
}

.lift-side li a {
    display: block;
    text-decoration: none;
    color: white;
    /* padding: 1rem; */
    padding-top: .8rem;
    padding-bottom: .8rem;
    margin-right: 1rem;
}

.back{
    display: inline;
    margin-right: 0;
}

.back i{
    margin-left: .5rem;
    font-size: 2.2rem;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    margin-left: 0;
}

.navbar-links {
    height: 100%;
}
/******Notification*******/

.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  
  .notification .badge {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 1px 6px;
    border-radius: 50%;
    background: var(--orange);
    color: var(--vdarkblue);
    font-size: .7rem;
  }
/************************/
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    font-weight: bold;
    font-size: 18px;
}

.navbar-links li:hover i{
    font-weight: bold;
    font-size: 1.7rem;
}

a:is(:link,:active,:hover).active{
    font-weight: bold;
    font-size: 18px;
}

/***********************************************main container*************************************************/

.main-container {
    margin: 2rem 4rem;
}
.left_side{
    float: left;
    width: 73%;
    margin-right: 5%;
}
.right_side{
    float: left;
    width: 22%;
    position: fixed;
    top: 11rem;
    right: 4rem;
}

.main-container .title h1{
    font-size: 30px;
    padding-top:20px;
}

.main-container .inputs{
    background: var(--vlightblue);    
    box-shadow: var(--shadow1);
    border-radius: 15px;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
}
.main-container .inputs.grade{
    height: auto;
}
.main-container .inputs label{
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.main-container .inputs.grade label{
    text-align: center;
    padding: 1rem;
}

input{
    background:var(--vlightblue);
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--vdarkblue);
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.main-container .inputs.grade .grade_container{
    background: #fff;
    box-shadow: var(--shadow1);
    height: 100%;
    text-align: center;
    border-radius: 15px;
    padding-bottom: 10px;
} 
.grade_container input{
    outline: none;
    border: none;
    /* padding: .8rem; */
    border-radius: 25px; 
    background: var(--vvlightblue);
    width: 80px;
    text-align: center;
    font-size: 16px;
}

/******************************** textarea field**************************************/
.main-container .inputs textarea{
    background:var(--vlightblue);
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--vdarkblue);
    font-size: 16px;
    margin-top: 10px;
    resize: none;
}

/****Submit Button*****/
.save_btn a{
    color: #fff;
}
.save_btn:hover a{
    color: var(--vdarkblue);
}
button{
    border: 2px double var(--vdarkblue);
    padding: 5px 15px;
    color: #fff;
    border-radius: 25px;
    background: var(--vdarkblue);
    width: 100px;
    font-size: 12px;
}

button[type="submit"]:hover {
   color: var(--vdarkblue);
   font-weight: bold;
   background-color: #fff;
   cursor: pointer;
}
div.grade_section{
    background: var(--vlightblue);
    width: 150px;
    border-radius: 25px;
    padding-left: 5px;
    padding-right: 5px;
    margin: auto;
}

/**file list for download page ***/

.row {
    border-collapse: separate;
    margin: 0;
    padding: 0;
    table-layout: auto;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    table-layout: fixed;
    border-spacing: 0 10px;
    display: flex;
    justify-content: center;   
    }
.row tr {
    padding: .2em;
    margin-bottom: 10px;
    box-shadow: var(--shadow1);
    font-weight: 500;
    margin-bottom: 1em;
    padding: 1.1em 1em;
    border-radius: 0.3em;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    
}
.row th,td {
    padding: 1em 2em;
    text-align: left;
    width: 1%;
    white-space: nowrap;
 }
.row  i{
    color: var(--vdarkblue);
    font-size: 30px;
    margin-right: 30px;
}

#file {
    width: 60%;
    white-space: nowrap;
}
#icon1:hover {
    color: #A4D2F0;
}
#icon2:hover {
    color: #D92A2A;
}


@media(max-width: 884px){
	
    .row{
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        
    }

	.row, .row tbody, .row tr, .row td{
		display: block;
		width: 100%;
       
	}
	.row tr{
        display: block;	
		margin-bottom:15px;
   	}
	.row td{
		
		text-align: center;
		position: relative;
	}
    #icon3,#icon2,#icon1{
        font-size: 2.5em;
    }
 
	
}
/**********************************************************************/
/********************:)the end ***************************************/

/**error message in js**/
p#demo {
    color: var(--red);
    text-align: center;
}
/*********************/   
@media only screen and (max-width:1330px) {
    .container li {
        font-size: 12px;
        margin-bottom: 1em;
        padding: 1em 1em;
        display: flex;
        justify-content: space-between;
    }
    .container li i{
        font-size: 18px;
        margin-right: 20px;
    }

}
@media only screen and (max-width:930px) {
    .left_side{
        float: none;
        width: 100%;
    }
    .right_side{
        float: none;
        width: 100%;
    }
    .btn_post{
        padding-left: 0px;
        text-align: center;
        position: relative;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:640px) {
    .main-container{
        margin: 2rem 6rem 0rem;
    }
}

@media only screen and (max-width:582px) {
    .main-container{
        margin: 2rem 4rem 0rem;
    }
}
@media only screen and (max-width:513px) {
    .main-container .title h1{
        font-size: 28px;
    }
    .main-container .inputs label{
        font-size: 18px;
    }
    .main-container .inputs input{
        font-size: 14px;
    }

}

