@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
    --darkblue:#2A3D6C ;
    --vdarkblue:#222242 ;
    --orange:#FFBA5F;
    --shadow1:rgba(17,17,26,0.1) 2px 2px 16px; 
    --shadow2:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
    --lightblue:#A4D2F0;
    --lightgreen:#D8E6D6;
    --vlightblue:#e5f3fe;
    --darkgreen:#53744A;
    --red:#D92A2A;
}

* {
    margin    : 0;
    padding   : 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
   }
  /*****************************************************Navigation Bar style**********************************************************/
  
.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #222242;
    box-shadow: var(--shadow2);
    color: white;
  }
  
  ul{
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .lift-side li{
    display: block;
    text-decoration: none;
    color: white;
    padding-right: 1rem;
    margin: auto;
  }
  
  .lift-side li a {
    display: block;
    text-decoration: none;
    color: white;
  }
  
  .back{
    display: inline;
    margin-right: 0;
  }
  
  .back i{
    margin-left: .5rem;
    font-size: 2.2rem;
  }
  
  .brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    margin-left: 0;
  }
  
  .navbar-links {
    height: 100%;
    margin-right: 0px;
  }
  /******Notification*******/
  
  .notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  
  .notification .badge {
    position: absolute;
    top: 2px;
    right:8px;
    padding: 1px 6px;
    border-radius: 50%;
    background: var(--orange);
    color: var(--vdarkblue);
    font-size: .7rem;
  }
  /************************/
  .navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links li {
    list-style: none;
  }
  
  .navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
  }
  
  .navbar-links li:hover {
    font-weight: bold;
    font-size: 18px;
  }
  
  .navbar-links li:hover i{
    font-weight: bold;
    font-size: 1.7rem;
  }
  
  a:is(:link,:active,:hover).active{
    font-weight: bold;
    font-size: 18px;
  }
  
  
  /* ////////////////////////////////// Enrollment ///////////////////////////////////////////////////*/

h1{
    margin-top: 7%;
    margin-left: 5%;

}
hr{
    margin-left: 5%;
    margin-right: 5%;
} 

label{
    font-size: 16px;
}

div{
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}
.ab:hover{
    background-color: rgb(250, 244, 244);;
   
}
.ab2:hover{
    background-color: rgb(250, 244, 244);;
   
}

.divC{
    overflow: auto;
    height: 30vh;
    margin-left: 0;
    background-color: white;

}
.divC:hover{
    background-color: white;
}
.divC2{
    
    height: 100vh;
    margin-left: 0;
}
.divC2:hover{
    background-color: white;
}
h1{
    margin-top: 3%;
}


#true1{
    margin-left: 90%;
    color: green;
    font-size: 25px;
    margin-right: 4%;
    margin-top: 0;
}
#true1:hover{
font-size: 30px;
}
#croos1{
    color: red;
    font-size: 25px;

}
#croos1:hover{
font-size: 30px;

}
#croos2{
margin-left: 97%;
    color: red;
    font-size: 25px;
    margin-right: 4%;
    margin-top: 0;
}
#croos2:hover{
font-size: 30px;

}

@media  (max-width:850px) {
    #true1{
       
        margin-left: 90%;
        margin-right: 1%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
   
   
}


@media  (max-width:1129px) {
    #true1{
       
        margin-left: 90%;
        margin-right: 1%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }
 
@media  (max-width:600px) {
    #true1{
        
        margin-left: 80%;
        margin-right: 1%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }
 
@media  (max-width:410px) {
    #true1{
        
        margin-left: 80%;
        margin-right: 1%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }

@media  (max-width:350px) {
    #true1{
        
        margin-left: 80%;
        margin-right: 1%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    

}
    @media  (max-width:760px ) {
        #true1{
            
            margin-left: 80%;
            margin-right: 1%;
           }
           #croos1{
            margin-right: 0%;
        
        
        }
 }


 
@media  (max-width:797px) {
    #true1{
        
    
        margin-left: 80%;
        margin-right: 2%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }

 
@media  (max-width:300px) {
    #true1{
        
    
        margin-left: 80%;
        margin-right: 2%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }
 
@media  (max-width:490px) {
    #true1{
        
    
        margin-left: 80%;
        margin-right: 2%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }
 
@media  (max-width:548px) {
    #true1{
        
    
        margin-left: 80%;
        margin-right: 2%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }

 