


h1{
    margin-top: 7%;
    margin-left: 5%;

}
hr{
    margin-left: 5%;
    margin-right: 5%;
} 

label{
    font-size: 22px;
}

div{
    margin-left: 5%;
    margin-right: 5%;
    padding: 10px;
}
div:hover{
    background-color: rgb(250, 244, 244);;
  
}
.divC{
    overflow: auto;
    height: 30vh;
    margin-left: 0;
    background-color: white;

}
.divC:hover{
    background-color: white;
}
.divC2{
    overflow: auto;
    height: 30vh;
    margin-left: 0;
}
.divC2:hover{
    background-color: white;
}
h1{
    margin-top: 3%;
}


#true1{
    margin-left: 90%;
    color: green;
    font-size: 25px;
    margin-right: 4%;
    margin-top: 0;
}
#true1:hover{
font-size: 30px;
}
#croos1{
    color: red;
    font-size: 25px;

}
#croos1:hover{
font-size: 30px;

}
#croos2{
margin-left: 97%;
    color: red;
    font-size: 25px;
    margin-right: 4%;
    margin-top: 0;
}
#croos2:hover{
font-size: 30px;

}

@media  (max-width:850px) {
    #true1{
       
        margin-left: 90%;
        margin-right: 1%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
   
   
}


@media  (max-width:1129px) {
    #true1{
       
        margin-left: 90%;
        margin-right: 1%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }
 
@media  (max-width:600px) {
    #true1{
        
        margin-left: 80%;
        margin-right: 1%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }
 

@media  (max-width:410px) {
    #true1{
        
        margin-left: 80%;
        margin-right: 1%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }

 
 
@media  (max-width:350px) {
    #true1{
        
        margin-left: 80%;
        margin-right: 1%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    

}
    @media  (max-width:760px ) {
        #true1{
            
            margin-left: 80%;
            margin-right: 1%;
           }
           #croos1{
            margin-right: 0%;
        
        
        }
 }


 
@media  (max-width:797px) {
    #true1{
        
    
        margin-left: 80%;
        margin-right: 2%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }

 
@media  (max-width:300px) {
    #true1{
        
    
        margin-left: 80%;
        margin-right: 2%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }
 
@media  (max-width:490px) {
    #true1{
        
    
        margin-left: 80%;
        margin-right: 2%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }
 
@media  (max-width:548px) {
    #true1{
        
    
        margin-left: 80%;
        margin-right: 2%;
       }
       #croos1{
        margin-right: 0%;
    
    
    }
    
 }