:root{
    --darkblue:#2A3D6C ;
    --vdarkblue:#222242 ;
    --orange:#FFBA5F;
    --shadow1:rgba(17,17,26,0.1) 2px 2px 16px; 
    --shadow2:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
    --lightblue:#A4D2F0;
    --lightgreen:#D8E6D6;
    --vlightblue:#e5f3fe;
    --darkgreen:#53744A;
    --red:#D92A2A;
}

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

body{
    overflow-x: hidden;
}
.img {
    width: 100%;
    height: auto;
} 

/*****************************************************Menu Sidebar style**********************************************************/

/*menu icon*/
#menu-toggle{
    display: none;
} 

#menu-toggle:checked ~ .sidebar{
    left:-290px;
}

#menu-toggle:checked ~ .main-content{
    margin-left: 0;
    width: 100vw; 
}
.sidebar {
    Width:290px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    transition: left 300ms;
}
.sidebar-container{
    height: 100%;
    width: 100%;
    background:#222242;
    box-shadow: var(--shadow2);
    padding: 1rem;
    overflow-y: auto;
}
.sidebar-container::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
.sidebar-container::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .sidebar-container::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  .sidebar-container::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

.brand img{
    width: 30px;
}

/*profile photo*/
.sidebar-avartar{
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    margin: 2rem 0rem 2rem;
    padding: .1rem 0 rem;
    color: #FFFFFF;
}
.sidebar-avartar img{
    width: 70px;
    border-radius: 50%;
}
.avartar-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.avartar-text h4{
    font-size: 20px;
}
.avartar-text p{
    font-size: 18px;
}

/*menu items*/
.sidebar-menu li{
    margin-bottom: 2rem;
}
.sidebar-menu a{
    color: #FFFFFF;
    font-size: 20px;
    display: block;
    padding: .7rem 0rem;
}
.sidebar-menu a:hover{
    font-weight: bolder;
}

.sidebar-menu ul{
    margin-left: 4rem; 
}
.sidebar-menu a span:first-child{
    display: inline-block;
    margin-right: .8rem;
    font-size: 24px;
    color: #FFFFFF;
}

/*admin card in sidebar*/
.sidebar-card{
    text-align: center;
    padding-top: .5rem;
}
.sidebar-card img{
    width: 180px;
    height: auto;
    margin: 0px;
}
.sidebar-card-btn{
    background: #FFFFFF;
    border-radius: 15px;
    width: 65%;
    margin: 0rem 2rem 0rem 3rem;
}
.btn-admin{
    padding: .5rem 1rem;
    border: none;
    border-radius: 15px;
    background-color: var(--lightblue);
    color: var(--darkblue);
    font-size: 16px;
    width: 60%;
    margin: 1.5rem 1.5rem 1.5rem 2rem ;
    font-weight: bold;
}
.btn-admin:hover{
    background: var(--orange);
    cursor: pointer;
}
/*****************************************************Groups_conrrol_panel style*****************************************************/

/********************* main container ********************/
.main-content{
    margin-left:290px;
    width: calc(100vw - 290px);
    transition: margin-left 300ms;
    padding: 1rem 6rem;
}

/*header box*/
header{
    display: flex;
    align-items: center;
}

.header-title{
    display: flex;
    margin-left: 1rem;
}
.header-title label{
    display: none;
    color: var(--darkblue);
    margin-top: 1rem ;
    font-size: 3rem;
}

.header-box{
	height: 250px;
	width: 99%;
	box-shadow: var(--shadow2);
	background: var(--lightblue);
	margin-top: 20px;
 	border-radius: 15px;
}
.header-box img{
	width: 420px;
    float: right;
    margin-right: 100px; 
}

.header-box-content{
    float: left; 
    padding:25px;
}
.header-box-content{
    text-align: center;
}
.header-box-content h2{
    font-size: 28px;
    padding: 1rem;
    color: var(--vdarkblue);
}
.btn-create{
    border: none;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: #FFFFFF;
    font-style: bold;
    background: var(--vdarkblue);
    box-shadow: var(--shadow2);
}

.btn-create:hover {
    background: var(--orange);
    color: var(--vdarkblue);
    cursor: pointer;
}

main{
    padding-top: 3rem;
}

/*groups card*/
.group-cards{
    display: grid;
    width: 99%;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 0rem 2rem;
}

.group-card{
    box-shadow: var(--shadow1);
    padding: 1.5rem .5rem 0rem;
    border-radius: 15px;
    background: var(--lightgreen);
    display: flex;
    justify-content: center; 
    padding-left: 2rem;
    margin-top: 2rem;
}

.group-card:hover{
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #b6e4b0
}
.group-card-info{
    width: 90%;
    padding: 0rem 0rem 3rem;
}
.group-card-info h3{
    font-size: 18px;
    color: var(--darkblue);
}

.group-card-info p{
    font-size: 16px;
}
.group-card-num{
    position: relative;
    width: 10%;
}
.group-card-icon{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: grid;
    place-items: center;
    background: var(--orange);
    margin-left: .7rem;
    position: absolute;
    bottom: 15px;
    right: 0;
}

.group-card-icon span{
    font-size: 18px;
}

.members-num{
    font-size: 18px;
    position: absolute;
    bottom: 15px;
    right: 44px;
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    display: none;
    background: rgba(255,255,255,0.5);
}
.overlay label{
   display: block;
   height: 100%;
   width: 100%;
}

@media only screen and (max-width:1334px) {

     .header-box img{
        margin-top: 0rem; 
        margin-right: .3rem;
        width: 440px;
    } 
      .group-cards{
        grid-template-columns: repeat(2,1fr);
    } 
}

@media only screen and (max-width:970px) {
 
    .header-box img{
         display: none; 
    }
    .header-box-content{
         width: 100%;
    }   
    .header-box-content-table{
        width: 100%;
}    
}
@media only screen and (max-width:624px) {

    .group-cards{
         grid-template-columns: 100%;
    } 
}
@media only screen and (max-width:1257px) {
    .sidebar{
        left: -290px;
        z-index: 30;
    }
    .main-content{
        width: 100vw;
        margin-left: 0;
    }
    #menu-toggle:checked ~ .sidebar{
        left: 0;
    }
    #menu-toggle:checked ~ .overlay{
        display: block;
    }

    .header-title label{
       display: inline-block;
 
    }
}

/***************************************************** TEACHER/Student/File_CONTROL_PANAL Style ***********************************************************/

#b-vlightblue{
    background: var(--vlightblue);
}

/*header box*/

.header-box-content-table{
    float: left; 
    padding:25px;
}
.header-box-content-table img{
	width: 620px;
    float: right;
    margin-right: 100px; 
}
.header-box-content-table{
    text-align: center;
}
.header-box-content-table h2{
    font-size: 28px;
    padding: 1rem;
    color: var(--vdarkblue);
}

/*table*/
.table-box{
	width:99%;
	box-shadow: var(--shadow);
	margin-top: 30px;
	border-radius: 10px;
	float: left;
}

table {
    border-collapse: separate;
    margin: 0;
    padding: 0;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    table-layout: fixed;
    border-spacing: 0 10px;
}

table tr {
    padding: .15em;
    margin-bottom: 10px;
    box-shadow: var(--shadow1);
}
thead{
    box-shadow: var(--shadow1);
    color: var(--vdarkblue);
}

table th,table td {
    padding: 1em;
    text-align: left;
    background: #FFFFFF;
}

table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
.tab-img{
	display: inline-block;
    width: 30px;
    vertical-align: middle;
    border: 1px solid #000;
    border-radius: 18px;
    margin-right: 8px;
}

.ticon{
	padding: 5px;
	background: var(--gray);
	border-radius: 4px;
	width: 15px;
	height: 15px;
	text-align: center;
    font-size: 20px;
    margin-left: 10px;
}
.ticon.edit{
    color: var(--darkgreen);
}
.ticon.delet{
    color: #fdab40;
}
 .ticon:hover{
    cursor: pointer;
    font-size: 24px;
    font-weight: bolder;
 }
 .ticon.edit:hover{
    color: #7aea5b;
 }

 .ticon.delet:hover{
    color: var(--red);
 }

 /*file_control_panel*/
 .header-box.file{
	height: 250px;
	width: 99%;
	box-shadow: var(--shadow2);
	background: var(--lightblue);
	margin-top: 20px;
 	border-radius: 15px;
}
.header-box.file img{
	width:auto;
    height: 250px;
    float: right;
    margin-right: 100px; 
}



@media(max-width: 884px){
	.table thead{
		display: none;
	}
    .table-box{
        border-radius: 25px;
    }

	.table, .table tbody, .table tr, .table td{
		display: block;
		width: 100%;
	}
	.table tr{
		margin-bottom:15px;
	}
	.table td{
		text-align: right;
		padding-left: 50%;
		text-align: right;
		position: relative;
	}
	.table td::before{
		content: attr(data-label);
		position: absolute;
		left:0;
		width: 50%;
		padding-left:15px;
		font-size:15px;
		font-weight: bold;
		text-align: left;
	}
}
   




/**************************************************** Add admin style *********************************************************/


        .create-a-div{
            background-color: white;
            width: 50%;
        height: 90vh;
        border-radius: 15px;
        display: inline-block;
        position: absolute;
        left: 70%;
        top: 5%;
        transform: translate(-70%); 
        text-align: center;
        }
        .lable-create{
        
        position: absolute;
        top: 7%;
        left: 50%;
        transform: translate(-50%);
        font-size: 30px;
        
        }
        .img-greate{
        
            position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        font-size: 30px; 
        height: 15%;
        width: 15%;
        }
        .img-greate:hover{
        
          cursor: pointer;
        
        }
        #user-iocn{
            position:absolute;
            top: 46%;
            left: 33%;
        }
        .input-name{
            position:absolute;
            top: 45%;
            left: 30%;
            width: 40%;
            margin-left: 1%;
            border-radius: 25px; 
            padding-left: 9%;
            height: 5%; 
            border-color: #222242;
        
        }
        #pass-iocn{
            position: absolute;
            top: 56%;
            left: 33%;
           
        }
        .input-pass{
            position:absolute;
            top: 55%;
            left: 30%;
            width: 40%;
            margin-left: 1%;
            border-radius: 25px; 
            padding-left: 9%;
            height: 5%;
            border-color: #222242;
        
        
        }
        .input-pass2{
            position:absolute;
            top: 65%;
            left: 30%;
            border-radius: 25px; 
            padding-left: 9%;
            height: 5%;
            width: 40%;
            margin-left: 1%;
            border-color: #222242;
        }
        #pass2-iocn{
            position: absolute;
            top: 66%;
            left: 33%;
           
        }
        
        .check-box-admiin{
        
            position:absolute;
            top: 75%;
            left: 33%;
            width: 3%;
            height: 3%;  
        }
        .lb{
            position:absolute;
            top: 75%;
            left: 38%; 
            color: #6f6f6f;
        }
        .bt-save{
            position:absolute;
            top: 85%;
            left: 30%;
            width: 47%;
            background-color: #222242;
            height: 7%;
            color: white;
            border-radius: 25px;
        }
        .bt-save:hover{
            box-shadow: 4px 4px 4px rgb(135, 134, 134); 
        
        }
        .div-admin-footer{
        background-color: #bababa;
        width: 70%;
        height: 15vh;
        position: absolute;
        bottom: 2%;
        left: 15%;
        border-radius: 15px;
        }
        .img-ad-footer{
            width: 40%;
            height: 20%;
            position: absolute;
            bottom: 8%;
            left: 30%;
           
        }
        
        .bt-admin{
        position: absolute;
        left:  50%;
        transform: translate(-50%);
        bottom: 5%;
        border-radius: 15px;
        background-color: #A4D2F0;
        border: none;
        height: 30%;
        width: 40%;
        text-align: center;
        }
        
        @media(max-width:800px)
        {
        
        .create-a-div{
            width: 70%;
        }
        
        .lable-create{
            font-size: 25px;
          
        }
        .img-greate{
            padding-top: 5%;
        }
        .input-name,.input-pass,.input-pass2{
            width: 50%;
        }
        .bt-save{
            width: 50%;
           
        }
        }
        
        
        
        /**********************************************create group style *********************************************************/
        .create-g-div{
        background-color: white;
        width: 50%;
        height: 90vh;
        border-radius: 15px;
        display: inline-block;
        position: absolute;
        left: 70%;
        top: 5%;
        transform: translate(-70%); 
        text-align: center;
        }
        .lable-create{
        
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translate(-50%);
        font-size: 30px;
        
        }
        
        .img-greate{
        
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%);
        font-size: 30px; 
        width: 25%;
        height: 20%;
        
        }
        
        #user-iocn{
            position:absolute;
            top: 54.5%;
            left: 33%;
        }
        
        .input-name{
            position:absolute;
            top: 53%;
            left: 27%;
            border-radius: 25px  ; 
            padding-left: 9%;
            height: 5%;   
            width: 47%;
            margin-left: 1%;
        }
        
        
        #user-iocn1{
            position:absolute;
            top: 64%;
            left: 33%;
        }
        
        .select-t{
            position:absolute;
            top: 63%;
            left: 27%;
            border-radius: 25px; 
            padding-left: 9%;
            height: 5%;   
            width: 47%;
            margin-left: 1%;
            border-color: #222242;
        
        }
        .bt-save{
            position:absolute;
            top: 73%;
            left: 27%;
            width: 50%;
            background-color: #222242;
            height: 7%;
            color: white;
            border-radius: 25px;
        }
        .bt-save:hover{
            box-shadow: 4px 4px 4px rgb(135, 134, 134); 
        
        }
        .div-admin-footer{
        background-color: #bababa;
        width: 70%;
        height: 15vh;
        position: absolute;
        bottom: 2%;
        left: 15%;
        border-radius: 15px;
        }
        .img-ad-footer{
            width: 40%;
            height: 20%;
            position: absolute;
            bottom: 8%;
            left: 30%;
           
        }
        
        .bt-admin{
        position: absolute;
        left:  50%;
        transform: translate(-50%);
        bottom: 5%;
        border-radius: 15px;
        background-color: #A4D2F0;
        border: none;
        height: 30%;
        width: 40%;
        text-align: center;
        }
        /**media when  max-width:830px */
        
        @media(max-width:830px)
        {
        
        
        .img-greate{
            width: 29%;
           
        }
        .lable-create{
            font-size: 25px;
        }
        .create-g-div{
            width: 70%;
        }
        }
        
        