@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --darkblue:#2A3D6C ;
    --vdarkblue:#222242 ;
    --orange:#FFBA5F;
    --shadow1:rgba(17,17,26,0.1) 2px 2px 16px; 
    --shadow2:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
    --lightblue:#A4D2F0;
    --lightgreen:#D8E6D6;
    --vlightblue:#e5f3fe;
    --darkgreen:#53744A;
    --red:#D92A2A;
}

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body{
  overflow-x: hidden;
  background-color: #222242;

}
 /*****************************************************Navigation Bar style**********************************************************/

 .navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #222242;
  box-shadow: var(--shadow2);
  color: white;
  padding: 2%;
}

/**********************************************************************************/
  /*****************************************************Navigation Bar style**********************************************************/

/*menu icon*/
#menu-toggle{
  display: none;
} 

#menu-toggle:checked ~ .sidebar{
  left:-270px;
}

#menu-toggle:checked ~ .main-content{
  margin-left: 0;
  width: 100vw; 
}
.sidebar {
  Width:270px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: left 300ms;
  overflow: hidden; /* Hide scrollbars */
}
.sidebar-container{
  height: 100%;
  width: 100%;
  background:#222242;
  
  padding: 1rem;
  overflow-y: auto;
}
.sidebar-container::-webkit-scrollbar {
  display: none;
}

/* Track */
.sidebar-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sidebar-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sidebar-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*profile photo*/
.sidebar-avartar{
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  margin: 3rem 0rem 2rem;
  padding: .2rem  1rem;
  color: #FFFFFF;
}
.sidebar-avartar img{
  width: 70px;
  border-radius: 100%;
}
.avartar-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avartar-text h4{
  font-size: 18px;
}
.avartar-text p{
  font-size: 16px;
}

/*menu items*/
.sidebar-menu li{
  margin-bottom: 1rem;

}
.sidebar-menu a{
  color: #FFFFFF;
  font-size: 16px;
  display: block;
  padding: .7rem 0rem;
}
.sidebar-menu a:hover{
  font-weight: bolder;
  font-size: 18px;
}


a:is(:link,:active,:hover).active{
  font-weight: bolder;
  font-size: 18px;
}

.sidebar-menu ul{
  margin-left: 2rem; 
  margin-top: 10%;
}
.sidebar-menu a span:first-child{
  display: inline-block;
  margin-right: .8rem;
  font-size: 18px;
  color: #FFFFFF;
}
.overlay{
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
  display: none;
  background: rgba(255,255,255,0.5);
}
.overlay label{
 display: block;
 height: 100%;
 width: 100%;
}


header{
  display: flex;
  align-items: center;
}
header{
  display: flex;
  align-items: center;
}

.header-title{
  display: flex;
  margin-left: 1rem;
}
.header-title label{
  display: none;
  color: var(--darkblue);
  margin-top: 1rem ;
  font-size: 3rem;
}


/****************main container***************/

.main-content{
  margin-left:270px;
  width: calc(100vw - 270px);
  transition: margin-left 300ms;
  padding: 1rem 6rem;
}


/********************************************/

/***********/
@media only screen and (max-width:1132px) {
  .sidebar{
    left: -270px;
    z-index: 30;
}
.main-content{
    width: 100vw;
    margin-left: 0;
}

#menu-toggle:checked ~ .sidebar{
    left: 0;
}
#menu-toggle:checked ~ .overlay{
    display: block;
}
.header-title label{
  display: inline-block;
  cursor: pointer;
}
.vertical_line{
  display: none;
}
  body{
       background-color: #fff;
    }

}
/******************for back button and logo*****************************************************/
.lift-side li{
  display: inline-block;
  text-decoration: none;
  color: white;
  /* padding-right: 1rem; */
  margin: auto;
}

.lift-side li a {
  display: block;
  text-decoration: none;
  color: white;
  /* padding: 1rem; */
  padding-top: .3rem;
  padding-bottom: .8rem;
  margin-right: 1rem;
}

.back{
  display: inline;
  margin-right: 0;
  }

.back i{
  margin-left: .5rem;
  font-size: 2.2rem;
}
/*******************************leave button************************/ 
.sidebar-card-btn{
  background: #FFFFFF;
  border-radius: 15px;
  width: 65%;
  height: auto;
  padding: 1rem;
  text-align: center;
  margin: 2rem 0rem 0rem .5rem ;
}
a.btn-admin {
  padding: .5rem 1rem;
  background-color: #FFBA5F;
  border-radius: 15px;
  font-size: 14px;
  width: 60%;
  font-weight: bold;
  color: var(--vdarkblue);
}
.btn-admin:hover{
 /*  background: var(--orange); */
  color: #fff;
  background-color: #D92A2A;
  cursor: pointer;
  
 
}
  /********************header************************************************************************************************************/
  .main-content{
     border-radius: 25px 0 0 0;
     background-color: #fff;
     padding-bottom: 4%;
  }
  .header-div{
    position: relative;
           
  }

  h1{
  font-size: 4em;
  padding-bottom: 0px;
  padding-left:10px;
  text-transform: capitalize;
  }
  .group_info{
    font-size: 1em;
    padding-bottom: 10px;
    padding-left:18px;
    text-transform: capitalize;
 } 
 .btn-create{
    margin-left: 1em;
    margin-top: 50px;
    border: none;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: #fff;
    font-style: bold;
    background: #FFBA5F;
    box-shadow: var(--shadow2);
    transition      : background-color 0.3s;
}

.btn-create:hover {
    color: #000;
    background-color: #fff;
    cursor: pointer;
    border: 2px double #fff;
}


  /**********************************************************************************************************************************/
  /********************************************************************************************/
/***************new Cards ***********/
 
main{
 
   align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;

 
}

/* Float four columns side by side */
.column {
  float: left;
  width: 33%;
  padding: 1% 0.75%;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 1% -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
  background-color: #222242;
}

/* Responsive columns */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 10px;
  }
}

/* Style the counter cards */
.card {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
  padding: 22%;
   text-align: center;
   align-items: center;
  justify-content: center;
  background-color: #222242;
  border-radius: 15px;
  font-size: larger;
  
  
 }
.card:hover {
  color: #FFBA5F;
  background-color: #fff;
  cursor: pointer;
  /*****to add zoom****/
  -ms-transform: scale(1.010); /* IE 9 */
  -webkit-transform: scale(1.010); /* Safari 3-8 */
  transform: scale(1.010); 
   
}
.card a{
  color: #fff;
}
 a:visited{
  color: #fff;
}

.card a:hover{
  text-decoration: none;
  color: #FFBA5F;
  cursor: pointer;
}




@media screen and (max-width: 900px) {
 
  h1{
    font-size: 3.5em;
   
    }
    .column {
      width: 50%;
    }
    
 
}
@media screen and (max-width: 550px) {
  .column {
    width: 100%;
  }
  .button-div{
    margin-top: 15%;
  }
  
}
/******************to pustion create button ****************************************************/
.button-div{
  width: 30%;
  position: absolute;
  top: 0;
  right: 0%;
  bottom: 0%;
  margin-left: 5px;
  margin-right: 30PX;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
 
  }


