@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root{
    --darkblue:#2A3D6C ;
    --vdarkblue:#222242 ;
    --orange:#FFBA5F;
    --shadow1:rgba(17,17,26,0.1) 2px 2px 16px; 
    --shadow2:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
    --lightblue:#A4D2F0;
    --lightgreen:#D8E6D6;
    --vlightblue:#e5f3fe;
    --darkgreen:#53744A;
    --red:#D92A2A;
}


* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  }
 

 /*****************************************************Navigation Bar style**********************************************************/

  
/*menu icon*/
#menu-toggle{
  display: none;
} 

#menu-toggle:checked ~ .sidebar{
  left:-270px;
}

#menu-toggle:checked ~ .main-content{
  margin-left: 0;
  width: 100vw; 
}
.sidebar {
  Width:270px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  transition: left 300ms;
}
.sidebar-container{
  height: 100%;
  width: 100%;
  background:#222242;
  box-shadow: var(--shadow2);
  padding: 1rem;
  overflow-y: auto;
}
.sidebar-container::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.sidebar-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.sidebar-container::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
.sidebar-container::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*profile photo*/
.sidebar-avartar{
  display: grid;
  grid-template-columns: 100px auto;
  align-items: center;
  margin: 3rem 0rem 2rem;
  padding: .1rem 0 rem;
  color: #FFFFFF;
}
.sidebar-avartar img{
  width: 70px;
  border-radius: 100%;
}
.avartar-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.avartar-text h4{
  font-size: 18px;
}
.avartar-text p{
  font-size: 16px;
}

/*menu items*/
.sidebar-menu li{
  margin-bottom: 1rem;

}
.sidebar-menu a{
  color: #FFFFFF;
  font-size: 16px;
  display: block;
  padding: .7rem 0rem;
}
.sidebar-menu a:hover{
  font-weight: bolder;
  font-size: 18px;
}


a:is(:link,:active,:hover).active{
  font-weight: bolder;
  font-size: 18px;
}

.sidebar-menu ul{
  margin-left: 2rem; 
  margin-top: 30%;
}
.sidebar-menu a span:first-child{
  display: inline-block;
  margin-right: .8rem;
  font-size: 18px;
  color: #FFFFFF;
}
/***********/
@media only screen and (max-width:1280px) {
  .sidebar{
      left: -290px;
      z-index: 30;
  }
  .main-content{
      width: 100vw;
      margin-left: 0;
  }
  #menu-toggle:checked ~ .sidebar{
      left: 0;
  }
  #menu-toggle:checked ~ .overlay{
      display: block;
  }

  .header-title label{
     display: inline-block;

  }
}


/****************main container***************/

  .main-content{
    margin-left:270px;
    width: calc(100vw - 290px);
    transition: margin-left 300ms;
    padding: 1rem 6rem;
}

/********************************************/


  /***********************header************************************************************************************************************/
  .header-div{
    padding: 2.5% ;
    margin: 50px 12rem 0px;
    position: relative;
     border-radius : 15px 15px 15px 15px;
     background-color: #fff;
       box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
     
  }

  h1{
  font-size: 5em;
  padding-bottom: 5px;
  padding-left:10px;
  text-transform: capitalize;
  }
  .group_info{
    font-size: 1.25em;
    padding-bottom: 10px;
    padding-left:18px;
    text-transform: capitalize;
 } 
 .btn-create{
    margin-left: 2em;
    margin-top: 10px;
    border: none;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    font-size: 40px;
    color: #FFFFFF;
    font-style: bold;
    background: #222242;
    box-shadow: var(--shadow2);
    transition      : background-color 0.3s;
}

.btn-create:hover {
    color: #000000;
    background-color: #fff;
    cursor: pointer;
    border: 2px double #222242;
}


  /***********************Slider for cards************************************************************************************************************/
 
main{
  display: flex;
  padding: 0 15px;
  min-height: 80vh;
  align-items: center;
  justify-content: center;
 
}
.wrapper{
  display: flex;
  max-width: 1200px;
  position: relative;
 
}
.wrapper i{
  top: 50%;
  height: 44px;
  width: 44px;
  color: #343F4F;
  cursor: pointer;
  font-size: 1.15rem;
  position: absolute;
  text-align: center;
  line-height: 44px;
  background: #fff;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: transform 0.1s linear;
}
.wrapper i:active{
  transform: translateY(-50%) scale(0.9);
}
.wrapper i:hover{
  background: #f2f2f2;
}
.wrapper i:first-child{
  left: -22px;
  display: none;
}
.wrapper i:last-child{
  right: -22px;
}
.wrapper .carousel{
  font-size: 0px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  scroll-behavior: smooth;
  border-radius : 15px;
}
.carousel.dragging{
  cursor: grab;
  scroll-behavior: auto;
}
.carousel.dragging img{
  pointer-events: none;
  border-radius : 15px;
}
 a{
    margin-left: 14px;
  }
.carousel img{
  height: 340px;
  object-fit: cover;
  user-select: none;
  margin-left: 14px;
  width: calc(100% / 3);
  border-radius : 15px;
}

@media screen and (max-width: 900px) {
  .carousel img{
    width: calc(100% / 2);
  }
  main{
    padding: 0 25px;
  }
  h1{
    font-size: 3.5em;
   
    }
    
 
}
@media screen and (max-width: 550px) {
  .carousel img{
    width: 100%;
  }
  
 
}
/********************************************************************************************/
/***************Hovering ***********/
