* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

body {
    font-family     : "Open Sans", sans-serif;
    min-height      : 100vh;
    width           : 100%;
    font-size       : 16px;
    color           : #000000;
    display         :flex;
    justify-content : center;
    align-items     : center;
    background: rgb(34,34,66);
    background: linear-gradient(0deg, rgba(34,34,66,1) 35%, rgba(102,126,157,1) 69%, rgba(164,210,240,1) 100%);
}



/****************************************/

input[type="text"],
input[type="password"],
button {
    width        : 100%;
    border       : 2px double #222242;
    padding      : 10px 24px;
    color        : #000;
   border-radius: 25px;
}


.login-container {
    max-width          : 1600px;
    padding            : 50px 50px;
    background-position: center;
    background-repeat  : no-repeat;
    position           : relative;
    border-radius      : 15px;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login-container::before {
    content         : "";
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    background-color: #fff;
    border-radius      : 15px;
      
}
/****************************************/ 
/* image and image card  */
.circle-container{
  content         : "";
    position        : absolute;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 31%;
    background-color: #222242;
    border-radius      : 15px;
      
  }

.imagelogo{
height: 11.6em;
width: auto;
position: absolute;
left: 14%;   
}

/****************************************/ 
/*welcome back text in login page*/
.main_text {
    position     : relative;
    font-size       : 28px;
    padding      : 4px 0;
    margin-bottom: 40px;
    margin-top: 50%;
    
}

/*signup as student  text in signup page*/
  .signup_text {
    position     : relative;
    font-size       : 28px;
    padding      : 4px 0;
    margin-bottom: 40px;
            
}


.login-form {
    z-index      : 1;
    position     : relative;
    margin-bottom: 20px;
}

/****************************************/
/*to contorl the icons */
form .form-field::before {
    font-size: 20px;
    position: absolute;
    left: 18px;
    top: 13px;
    content: " ";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
              
  }
  form .form-field:nth-child(1)::before {
    background-image: url(https://img.icons8.com/small/512/user.png);
    width: 28px;
    height: 28px;
    top:0.4em;
    left: 5%;
      
  }
  form .form-field:nth-child(2)::before {
    background-image: url(https://img.icons8.com/material-outlined/512/lock.png);
    width: 22px;
    height: 22px;
    top:0.5em;
    left: 6%;
    }
  form .form-field {
    
     align-items: center;
    margin-bottom: 1rem;
    position: relative;
      }
    
   /****************************************/
   /*the form section for signup*/
   /*to contorl the icons */

   form .form-field-signup::before {
    font-size: 20px;
    position: absolute;
    left: 15px;
    top: 11%;
    content: " ";
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
              
  }
  form .form-field-signup:nth-child(1)::before {
    background-image: url(https://img.icons8.com/windows/512/checked-identification-documents.png);
    width: 24px;
    height: 24px;
    top:0.4em;
    left: 6%;
    }

  form .form-field-signup:nth-child(2)::before {
    background-image: url(https://img.icons8.com/small/512/user.png);
    width: 28px;
    height: 28px;
    top:0.4em;
    left: 5%;
     }

  form .form-field-signup:nth-child(3)::before {
    background-image: url(https://img.icons8.com/material-outlined/512/lock.png);
    width: 22px;
    height: 22px;
    top:0.5em;
    left: 6%;
  }
  form .form-field-signup:nth-child(4)::before {
    background-image: url(https://img.icons8.com/material-outlined/512/lock.png);
    width: 22px;
    height: 22px;
    top:0.5em;
    left: 6%;
  }

  form .form-field-signup:nth-child(5)::before {
    background-image: url(https://img.icons8.com/material/512/imac.png);
    width: 20px;
    height: 20px;
    top:0.5em;
    left: 7%;
  }
  form .form-field-signup {
    
     align-items: center;
    margin-bottom: 1rem;
    position: relative;
      }


   /****************************************/
  form input {
    font-family: inherit;
    width: 100%;
    background-color: #fff;
    display: inline;
    padding: 0.9rem 0.7rem;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    font-size: 17px;
    text-indent: 30px;
   
  }
/****************************************/
/*longin and signup buttons */

  button[type="submit"] {
    text-align      : center;
    text-transform  : uppercase;
    font-size       : 14px;
    background-color: #222242;
    color: #fff;
    cursor          : pointer;
    transition      : background-color 0.3s;
}

button[type="submit"]:hover {
   color: #000000;
   font-weight: bold;
   background-color: #fff;
}
  /* the end of longin button */
   /* create an account and singup text and login */

  .additional-action {
    position       : relative;
    width          : 100%;
    display        : flex;
    justify-content: space-between;
    color          : #000000;
    margin-bottom  : 20px;
    cursor         : pointer;
    letter-spacing : 0.3px;
    justify-content : center;
   
}
/****************************************/


/********************************************************************************/ 
/******Edit profile addtional changes****/ 
/* body class for edit profile page*/
.body{
  font-family     : "Open Sans", sans-serif;
    min-height      : 100vh;
    width           : 100%;
    font-size       : 16px;
    color           : #000000;
    display         :flex;
    justify-content : center;
    align-items     : center;
    background: #A4D2F0;
}

.login_container_edit {
  max-width          : 1600px;
  padding            : 0px 50px;
  background-position: center;
  background-repeat  : no-repeat;
  position           : relative;
  border-radius      : 15px;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.login_container_edit::before {
  content         : "";
  position        : absolute;
  top             : 0;
  left            : 0;
  width           : 100%;
  height          : 100%;
  background-color: #fff;
  border-radius      : 15px;
    
}

.imagelogo_edit{
  height: auto;
  width: auto;
  position: absolute;
  left: 30%;  
  top: 10%; 
  
  }
  h5{
    height: auto;
    width: auto;
    position: absolute;
    left: 38%; 
    top:85%;
    color: #fff;
  }


  .main_text_edit {
    position     : relative;
    font-size       : 28px;
    padding      : 4px 0;
    margin-bottom: 15px;
    margin-top: 70%;
    padding-top: 10px;
    
}


.error{
  margin-left: 15%;
  color: red;
  padding-bottom: 3%;
}

/********************************************************************************************************/