/* style header  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root {
    --surface-color: #fff;
    --curve: 40;
    --darkblue:#2A3D6C ;
    --vdarkblue:#222242 ;
    --orange:#FFBA5F;
    --shadow1:rgba(17,17,26,0.1) 2px 2px 16px; 
    --shadow2:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
    --lightblue:#A4D2F0;
    --lightgreen:#D8E6D6;
    --vlightblue:#e5f3fe;
    --vvlightblue:#f5fafe;
    --darkgreen:#53744A;
    --red:#D92A2A;
  }
  
  * {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
    font-family: "Poppins", sans-serif;
  }
  html {
    overflow-x: hidden;
  }
   /*****************************************************Navigation Bar style**********************************************************/
   .navbar {
    background-color:var(--vdarkblue);
    }
    .navbar ul {
        list-style: none;
    }
    .lift-side{
        float: left;
    }
    .lift-side li{
        display: block;
        text-decoration: none;
        color: white;
        padding-right: .5rem;
        margin: auto;
    }
    .lift-side li a {
        display: block;
        text-decoration: none;
        color: white;
    }
    .back{
        display: inline;
        margin-right: 0;
    }
    
    .back i{
        margin-left: .2rem;
        font-size: 2.2rem;
    }
    
    .brand-title {
        margin: .5rem;
        margin-left: 0;
    }
    .center{
        float: left;
        width: 82%;
        height: 10%;
    } 
    .navbar > ul > li {
        position: relative;
        display: inline-block;
        margin-right: 5px;
    }
    .navbar > ul > li .dropdown-check {
        display: none;
    }
    .navbar > ul > li > a {
        color: #fff;
        font-size: 1.1rem;
        padding: 1rem 0;
        display: inline-block;
        cursor: pointer;
    }
    .navbar > ul > li > a:hover {
        color: #a4d2f0;
    }
   /**********notification***************/ 
    .navbar > ul > li > a .count {
        position: absolute;
        right: -3px;
        top: 14px;
        border-radius: 50%;
        font-size: 0.7rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--orange);
        color: var(--vdarkblue);
        width: 12px;
        height: 12px;
    }
    .navbar > ul > li .dropdown-check:checked ~ .dropdown {
        visibility: visible;
        opacity: 1;
        z-index: 1;
    }
    
    .navbar ul li .dropdown {
        position: absolute;
        top: 100%;
        right: -63px;
        background-color: #fff;
        border: 1px solid #ccc;
        padding: 1rem;
        visibility: hidden;
        opacity: 0;
        width: 250px;
        transition: 0.3s;
    }
    
    .navbar ul li .dropdown li {
        margin-bottom: 1rem;
        border-bottom: 1px solid #ccc;
        padding-bottom: 1rem;
        font-size: 14px;
    }
    
    .navbar ul li .dropdown li:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
    }

 /***********************************/   


/**********************************************************************************/
  
  .header-div{
    padding: 4% 4% 5% 8%;
    margin: 0px ;
    position: relative;
     border-radius : 0px 0px 15px 15px;
     box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
     background-color: #222242;
     color: #f1f1f1;
  }
 
  h1{
  font-size: 2.5em;
  padding-left:10px;
  text-transform: capitalize;
    }
  
  /* Style the search field */
  .search input[type=text] {
    padding: 10px;
    font-size: 18px;
    float: left;
    width: 25%;
    border: none;
    border-radius : 15px 0px 0px 15px;
    background: #f1f1f1;
    margin-bottom: 12px;
  }
  
  /*  submit button */
  .search button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #f9a12e;
    color: white;
    font-size: 18px;
    border-radius : 0px 15px 15px 0px;
    border: none;
    cursor: pointer;
  }
  
  .search button:hover {
    background: #A4D2F0;
    color: #000;
  }
  
  /* Clear floats */
  .search::after {
    content: "";
    clear: both;
    display: table;
  }
  .photo-div{
  width: 30%;
  position: absolute;
  top: 0;
  right: 0%;
  bottom: 0%;
  margin-left: 5px;
  margin-right: 30PX;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
 
  }
  .img-user{
    position: absolute;
    top: 40%;
    left:40%;
    transform: translate(-50% , -50%);
    width:200px;
    height:200px;
    display: block; 
    vertical-align: middle;
        
  }

  

  
  /* media responsive */
  
  @media(max-width:905px){
  .header-div{
    padding: 7%;
    height:10%;
  }
  h1{
    font-size: 1.5em;
    }
  /*******************************************************************************************/
 

  .search input[type=text] {
  font-size: 12px;
  
  }
  .search button {
    font-size:12px;
    width: 20%;
  }
  .img-user{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    max-width: 100%;  
   height: auto; 
  }
  
}
  /*******************************************************************************************************/
   
  /*******************************************************************************************************/
  .container{
    display: flex;
    justify-content: center;
  }
   .cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, auto)); 
    gap: 3rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
    width: 80%;
    /****************************/
     }
  
  .card {
    position: relative;
    display: block;
    height: 100%; 
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card__image {      
    width: 100%;
    height:auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 1.5em 3em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1.5rem;
    margin: 0 0 .3em;
      }
      .card__title:hover{
      
        cursor: pointer;
      }  
   .card__header-text {
   display: flex;
     width: 100%;}
     #icon2{
      align-content:center;
      justify-items: left;
      color: #000;
      float: right;
      margin-top: 6%;
    }

    #edit {
      text-decoration: none;
      color: #000;
      align-content:center;
      justify-items: right;
      float: right;
      margin-top: 6%;
      position: absolute;
      top: 15%;
      left: 85%;
      font-size: 16px;
    }
    #edit:hover {
      color: rgb(104, 104, 104);
    }
   
    #icon2:hover {
      color: #D92A2A;
      
  }
  .child{
   flex: 3  auto;
   
  }
  .child:first-child {
    margin-right: 2em;
    width: 100%;
  } 
    
   

   @media screen and (max-width: 1000px)  {
   
      
       .cards {
        grid-template-columns: repeat(2, minmax(200px, auto)); 
       }
       h1{
        font-size: 2.5em;
       
        }
        .photo-div{
          width: 30%;
          
         }
      
   }
   
   
   @media only screen and (max-width:610px) {
   
    .cards {
      grid-template-columns: repeat(1, minmax(200px, 90%)); 
      margin-left: 20%;
     }
     .photo-div{
      display: none;
      
     }
   }

   
   /***************************************************** Teacher/Student/File_Control_Panel Style ***********************************************************/
   


  /*******************************************************************************************************/
  /**********************Hovering for cards***************************************************************/
  h3 {
    --s: 0.1em;   /* the thickness of the line */
    --c: #f9a12e; /* the color */
    
    color: #0000;
    padding-bottom: var(--s);
    background: 
      linear-gradient(90deg,var(--c) 50%,#000 0) calc(100% - var(--_p,0%))/200% 100%,
      linear-gradient(var(--c) 0 0) 0% 100%/var(--_p,0%) var(--s) no-repeat;
    -webkit-background-clip: text,padding-box;
            background-clip: text,padding-box;
    transition: 0.6s;
  }
  h3:hover {--_p: 100%}
  h3 {
    font-size: 5rem;
  
  }
    /*******************************************************************************************************/
  /**********************Hovering for image******************************************************************/
  /*****************************************************************************************************/
  /************************scroll button ***************************************************************/

section {
  position: relative;
 
}

.demo a {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}
.demo a:hover {
  opacity: .5;
}


#section_scroll a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}
/**********************************************************************/
/*********no data image and text*****************************/
.nodata{
  margin: auto;
  width: 50%;
 
}
.nodata p{
  color: #acb3bf;
  align-items: center;
  text-align: center;
}
.nodata img{
 width:700px;
 height: auto;
}
 