/* style header  */
:root {
    --surface-color: #fff;
    --curve: 40;
  }
  
  * {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
  }
  
  .header-div{
    padding: 1% 4% 4% 4%;
    margin: 0px 2rem;
    position: relative;
     border-radius : 0px 0px 15px 15px;
     box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  .logo{
    padding-bottom: 2%;
    }
  h1{
  font-size: 2.5em;
  padding-bottom: 10px;
  padding-left:10px;
  text-transform: capitalize;
  }
  
  /* Style the search field */
  .search input[type=text] {
    padding: 10px;
    font-size: 18px;
    float: left;
    width: 25%;
    border: none;
    border-radius : 15px 0px 0px 15px;
    background: #f1f1f1;
    margin-bottom: 12px;
  }
  
  /*  submit button */
  .search button {
    float: left;
    width: 10%;
    padding: 10px;
    background: #222242;
    color: white;
    font-size: 17px;
    border-radius : 0px 15px 15px 0px;
    border: none;
    cursor: pointer;
  }
  
  .search button:hover {
    background: #A4D2F0;
    color: #000;
  }
  
  /* Clear floats */
  .search::after {
    content: "";
    clear: both;
    display: table;
  }
  .photo-div{
  background-color: #222242;
   width: 20%;
   position: absolute;
  top: 0;
  right: 0%;
  bottom: 0%;
  margin-left: 5px;
  box-shadow: 4px 4px 4px rgb(135, 134, 134); 
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    border-radius : 0px 0px 15px 0px;
  
  }
  .img-user{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: auto;
    width: 50%;
  }
  
  /* media responsive */
  
  @media(max-width:905px){
  .header-div{
    padding: 7%;
    height:10%;
  }
  h1{
    font-size: 1.5em;
    }
  
  .photo-div{
   width: 30%;
  }
  .search input[type=text] {
  font-size: 12px;
  
  }
  .search button {
    font-size:12px;
    width: 20%;
  }
  .img-user{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    height: auto;
    width: 60%;
  }
  
  }
  /*******************************************************************************************************/
 
  
  /*******************************************************************************************************/
  .container{
    display: flex;
    justify-content: center;
  }
   .cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, auto)); 
    gap: 3rem;
    margin: 4rem 5vw;
    padding: 0;
    list-style-type: none;
    width: 80%;
    /****************************/
     }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card__image {      
    width: 100%;
    height: auto;
  }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  
  .card__arc {
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 100%;
    right: 0;      
    z-index: 1;
  }
  
  .card__arc path {
    fill: var(--surface-color);
    d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
  }       
  
  .card:hover .card__header {
    transform: translateY(0);
  }
  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1.5rem;
    margin: 0 0 .3em;
      }
      .card__title:hover{
        color: black;
        cursor: pointer;
      }  
  
  
    
  @media only screen and (min-width: 300px) {
   
    .cards{
        
        grid-template-columns: repeat(1, minmax(200px, auto)); 
        width: 50%;
     
  } 
  h1{
    font-size: 3.5em;
   
    }
  }
  
  @media only screen and (min-width: 660px) and (max-width: 1060px){
  
    .cards{
        
        grid-template-columns: repeat(2, minmax(200px, auto)); 
        width: 60%;
     
  }
  } 
  @media only screen and (min-width: 1025px) {
    .cards{
        
        grid-template-columns: repeat(3, minmax(200px, auto)); 
        width: 70%;
     
  }
  } 
  