@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
:root{
    --darkblue:#2A3D6C ;
    --vdarkblue:#222242 ;
    --orange:#FFBA5F;
    --shadow1:rgba(17,17,26,0.1) 2px 2px 16px; 
    --shadow2:0 0 0.375rem 0.25rem rgb(0 0 0 / 15%);
    --lightblue:#A4D2F0;
    --lightgreen:#D8E6D6;
    --vlightblue:#e5f3fe;
    --darkgreen:#53744A;
    --red:#D92A2A;
    --surface-color: #fff;
    --curve: 40;
}
  * {
    box-sizing: border-box;
    margin    : 0;
    padding   : 0;
    font-family: "Poppins", sans-serif;
    
  }
  
 /*****************************************************Navigation Bar style**********************************************************/

 .navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #222242;
    box-shadow: var(--shadow2);
    color: white;
}

ul{
    display: flex;
    margin: 0;
    padding: 0;
}

.lift-side li{
    display: block;
    text-decoration: none;
    color: white;
    padding-right: 1rem;
    margin: auto;
}

.lift-side li a {
    display: block;
    text-decoration: none;
    color: white;
}

.back{
    display: inline;
    margin-right: 0;
}

.back i{
    margin-left: .5rem;
    font-size: 2.2rem;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
    margin-left: 0;
}

.navbar-links {
    height: 100%;
}
/******Notification*******/

.notification {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
  }
  
  .notification .badge {
    position: absolute;
    top: 2px;
    right:8px;
    padding: 1px 6px;
    border-radius: 50%;
    background: var(--orange);
    color: var(--vdarkblue);
    font-size: .7rem;
  }
/************************/
.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-links li:hover {
    font-weight: bold;
    font-size: 18px;
}

.navbar-links li:hover i{
    font-weight: bold;
    font-size: 1.7rem;
}

a:is(:link,:active,:hover).active{
    font-weight: bold;
    font-size: 18px;
}

 
  
  /************************************************************************************************************************************/
 /*  .header-div{
    padding: 1%;
    margin: 4rem 8rem 0rem 8rem;
    position: relative;
    display: flex;
    justify-content: center;
    background: #222242;
    color: white;
     border-radius : 15px;
     box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  } */
  .header-div{
    display: grid; 
    grid-template-columns: 1fr 1fr; 
    grid-gap: 20px; 
    margin: 5rem 10rem 0rem 12rem;
  }
  h1{
    font-size: 2.5em;
  margin-bottom: 3px;
    }
    hr{
      margin: 0 10%;
    }
  /*******************************************************************************************************/
  #btn-create {
    
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size:1.5rem;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: #f9a12e;
    color: white;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 15px;
  }
  
  #btn-create:hover {
    color: #000000;
    background-color: #fff;
    cursor: pointer;
    border: 2px solid #222242;
  }
   


  /*******************************************************************************************************/
  .container{
    display: flex;
    justify-content: center;
}
   .cards {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, auto)); 
    gap: 2rem;
    margin: 3rem 5vw;
    list-style-type: none;
    width: 75%;
    /****************************/
     }
  
  .card {
    position: relative;
    display: block;
    height: 100%;  
    border-radius: calc(var(--curve) * 1px);
    overflow: hidden;
    text-decoration: none;
    background-color:#A4D2F0;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }
  
  .card__image {      
    width: 85%;
    height: auto;
    }
  
  .card__overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;      
    border-radius: calc(var(--curve) * 1px);    
    background-color: var(--surface-color);      
    transform: translateY(100%);
    transition: .2s ease-in-out;
  }
  
  .card:hover .card__overlay {
    transform: translateY(0);
  }
  
  .card__header {
    position: relative;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 2em;
    border-radius: calc(var(--curve) * 1px) 0 0 0;    
    background-color: var(--surface-color);
    transform: translateY(-100%);
    transition: .2s ease-in-out;
  }
  

  
  .card__thumb {
    flex-shrink: 0;
    width: 50px;
    height: 50px;      
    border-radius: 50%;      
  }
  
  .card__title {
    font-size: 1rem;
    margin: 0 0 .3em;
    
  
      }
      .card__title:hover{
        color: black;
      }  

    h6{
    
      font-size: 12px;
         }  
  .card__description {
    padding: 0 2em 2em;
    margin: 0;
    color: #D7BDCA;
    }  
  .card__description:hover {
    cursor: pointer;
    color: #535353;
  }
 .card__header-text{
 display: flex;
  width: 100%;
  } 
  #icon2{
    align-content:center;
    justify-items: left;
  }
 
  #icon2:hover {
    color: #D92A2A;
    
}
.child{
 flex: 3  auto;
 
}
.child:first-child {
  margin-right: 2em;
  width: 100%;
}


/**********************************************************************/
/*********no data image and text*****************************/
hr{
  margin: 0 10%;
}
.nodata{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  margin-top: 3%;
}
.nodata p{
  color: #acb3bf;
  align-items: center;
  text-align: center;
}
.nodata img{
 width:100%;
 height: auto;

}
@media screen and (max-width: 1000px)  {
   
      
  .cards {
   grid-template-columns: repeat(2, minmax(200px,65%)); 
  }
  h1{
   font-size: 2.5em;
  
   }
   .photo-div{
     width: 30%;
     
    }
 
}


@media only screen and (max-width:610px) {

.cards {
 grid-template-columns: repeat(1, minmax(200px, 90%)); 
 margin-left: 20%;
}
.header-div{
  padding: 3%;
  margin: 4rem 4rem 0rem 6rem;
  }
@media screen and (max-width: 1000px)  {
   
      
  .cards {
   grid-template-columns: repeat(2, minmax(200px,65%)); 
  }
  h1{
   font-size: 2.5em;
  
   }
   .photo-div{
     width: 30%;
     
    }
 
}


@media only screen and (max-width:610px) {

.cards {
 grid-template-columns: repeat(1, minmax(200px, 90%)); 
 margin-left: 20%;
}
.header-div{
  padding: 3%;
  margin: 4rem 4rem 0rem 6rem;
  }
  .nodata{
    width: 100%;
    margin-top: 10%;
  }
}
}
/****************new edit*****************************************/
/*****************************************************************/
/****************************************************************/
.main-container{
    margin: 2rem 4rem 0rem;
}
.main-container .title h1{
    font-size: 30px;
    padding-top:20px;
}

.main-container .inputs{
    background: var(--vlightblue);    
    box-shadow: var(--shadow1);
    border-radius: 15px;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: 2rem;
}
.main-container .inputs label{
    display: block;
    font-size: 20px;
    font-weight: bold;
}

.main-container .inputs input{
    background:var(--vlightblue);
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--vdarkblue);
    font-size: 16px;
    margin-top: 10px;
}
/******************************** textarea field**************************************/
.main-container .inputs textarea{
    background:var(--vlightblue);
    width: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid var(--vdarkblue);
    font-size: 16px;
    margin-top: 10px;
    resize: none;
}

/*****************************attach field******************************************/
.container_wrapper{
    margin-top: 25px;
    text-align: center;
}
.wrapper{
    display: inline-flex;
    text-align: center;  }
 
/**Upload Button**/

.container {
    background-color: #ffffff;
    width: 100%;
    max-width: 34.37em;
    position: relative;
    margin: 0em auto 3.5em;
    padding: 3.12em 1.25em;
    border-radius: 15px;
    box-shadow: 0 1.25em 2.18em rgb(1, 28, 71, 0.3);
    
}
input[type="file"] {
    display: none;
}

.lab{
    display: block;
    position: relative;
    background-color: var(--vdarkblue);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
    color: #ffffff;
    text-align: center;
    width: 90px;
    height: 90px;
    padding: 2rem;
    margin: auto;
    border-radius:100%;
    cursor: pointer;
}
.lab i{
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    font-size: 16px;
}

.lab:hover i{
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
}

#num-of-files {
    text-align: center;
    margin: 1.25em 0 1.87em 0;
    font-size: 15px;
    margin-top: 30px;
    
}

/**file list***/

ul {
    list-style-type: none;
}
.container li {
    font-size: 14px;
    background-color: var(--vlightblue);
    color: var(--vdarkblue);
    margin-bottom: 1em;
    padding: 1.1em 1em;
    border-radius: 0.3em;
    display: flex;
    justify-content: space-between;
}
.container li i{
    color: var(--vdarkblue);
    font-size: 25px;
    margin-right: 20px;
}
  
/****Submit Button in material && assignment*****/
.btn_post{
    position: fixed;
    margin:1rem 0rem 0rem 0rem;
    text-align: left;
    padding-left: 17%;
    bottom: 2.5%;
}

.btn_post button{
    border: 2px double var(--vdarkblue);
    padding: 10px 24px;
    color: #fff;
    border-radius: 25px;
    background: var(--vdarkblue);
    width: 150px;
    text-transform: uppercase;
    font-size: 14px;
}

button[type="submit"]:hover {
   color: var(--vdarkblue);
   font-weight: bold;
   background-color: #fff;
   cursor: pointer;
}

/***********************************main container just for (join)***************************************/
.main-container.join{
    margin: 2rem 15% 0rem;
}
 .main-container .btn_join{
    text-align: center;
}
.main-container .btn_join button{
    border: 2px double var(--vdarkblue);
    padding: 10px 24px;
    color: #fff;
    border-radius: 25px;
    background: var(--vdarkblue);
    width: 150px;
    text-transform: uppercase;
    font-size: 12px;
}
 button[type="submit"]:hover {
    color: var(--vdarkblue);
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
    font-size: 14px;
}


/****************************main container just for (add assignment && add assignment)******************************/
/**********/
.left_side{
    float: left;
    width: 49%;
    margin-right: 2rem;
}
.right_side{
    float: left;
    width: 46%;
}
.main-container .inputs.name input{
  border: none;
}

/**********************************************************************/
/********************:) **********************************************/
/**file list for download page ***/

.row {
    border-collapse: separate;
    margin: 0;
    padding: 0;
    table-layout: auto;
    width: 100%;
    font-size: 14px;
    border-radius: 10px;
    table-layout: fixed;
    border-spacing: 0 10px;
    display: flex;
    justify-content: center;   
    }
.row tr {
    padding: .2em;
    margin-bottom: 10px;
    box-shadow: var(--shadow1);
    font-weight: 500;
    margin-bottom: 1em;
    padding: 1.1em 1em;
    border-radius: 0.3em;
    display: flex;
    background-color: #fff;
    justify-content: space-between;
    
}

.row th,td {
    padding: 1em 2em;
    text-align: left;
    width: 200%;
    white-space: nowrap;
 }
.row  i{
    color: var(--vdarkblue);
    font-size: 30px;
    margin-right: 30px;
}

#file {
    width: 60%;
    white-space: nowrap;
    padding-top: 10px;
    font-size: 2em;
   }

#icon1:hover {
    color: #A4D2F0;
 }
#icon2:hover {
    color: #D92A2A;
}
#icon3,#icon1,#icon2{
    font-size: 1.75em;
}
.main-container{
  margin: 25px 250px;
  }
  tr{
border-left: 5px solid #222242;
border-radius: 5px; 
}
tr:hover{
  background-color: #e5f3fe; 
 
  }

@media(max-width: 884px){
	
    .row{
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-content: center;
        
    }

	.row, .row tbody, .row tr, .row td{
		display: block;
		width: 100%;
       
	}
   
	.row tr{
        display: block;	
		margin-bottom:15px;
   	}
	.row td{
		
		text-align: center;
		position: relative;
	}
    #icon3,#icon1{
        font-size: 2em;
    }
 
	
}
/**********************************************************************/
/********************:)the end ***************************************/

/**error message in js**/
p#demo {
    color: var(--red);
    text-align: left;
}
/*********************/   
@media only screen and (max-width:1330px) {
    .container li {
        font-size: 12px;
        margin-bottom: 1em;
        padding: 1em 1em;
        display: flex;
        justify-content: space-between;
    }
    .container li i{
        font-size: 18px;
        margin-right: 20px;
    }

}
@media only screen and (max-width:930px) {
    .left_side{
        float: none;
        width: 100%;
    }
    .right_side{
        float: none;
        width: 100%;
    }
    .btn_post{
        padding-left: 0px;
        text-align: center;
        position: relative;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:640px) {
    .main-container{
        margin: 2rem 6rem 0rem;
    }
}

@media only screen and (max-width:582px) {
    .main-container{
        margin: 2rem 4rem 0rem;
    }
}
@media only screen and (max-width:513px) {
    .main-container .title h1{
        font-size: 28px;
    }
    .main-container .inputs label{
        font-size: 18px;
    }
    .main-container .inputs input{
        font-size: 14px;
    }

}


  
  


  
