* {
    margin    : 0;
    padding   : 0;
  
  }
  .header-div{
    padding: 4%;
    margin: 6rem 2rem;
    position: relative;
    display: flex;
    justify-content: center;
    background: #222242;
    color: white;
     border-radius : 15px;
     box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  h1{
    font-size: 4.5em;
    }