* {
    margin    : 0;
    padding   : 0;
  
  }

  /*****************************************************Navigation Bar style**********************************************************/

.navbar {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    background-color: #222242;
    color: white;
}

.brand-title {
    font-size: 1.5rem;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    display: block;
    text-decoration: none;
    color: white;
    padding: 1rem;
}

.navbar-links li:hover {
    font-weight: bold;
    font-size: 18px;
}

a:is(:link,:active,:hover).active{
    font-weight: bold;
    font-size: 18px;
}

/************************************************************************************************************************************/
  .header-div{
    padding: 4%;
    margin: 4rem 4rem 0rem 4rem;
    position: relative;
    display: flex;
    justify-content: center;
    background: #222242;
    color: white;
     border-radius : 15px;
     box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  h1{
    font-size: 4.5em;
    }
  /*******************************************************************************************************/
  /*******************************************************************************************************/
  main{
   display: flex;
  justify-content: center;
   padding: 3rem 0rem 0 0rem;
   
   margin-right: 4rem;
}


/*groups card*/
.cards{
    display: grid;
    width: 80%;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0rem 0.25rem;
}

.card{
    padding: 2rem .5rem 0rem;
    border-radius: 15px;
    display: flex;
    justify-content: center; 
    padding-left: 2rem;
    margin-top: 2rem;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  	max-width: 70%;
	overflow: hidden;
	width: 600px;
}


.group-card-info{
    width: 90%;
    /* padding: 0rem 0rem 3rem; */
    margin: 0rem 2rem 2.8rem .5rem;
}
.group-card-info h3{
    font-size: 18px;
    color: var(--darkblue);
}

.group-card-info p{
    font-size: 14px;
    color: var(--vdarkblue);
    margin-top: 5px;
}
.group-card-num{
    position: relative;
    width: 15%;
    margin-left: 15px;
}

.btn {
	background-color: #2A265F;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 15px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
	
}
.btn:hover{
    background-color: #A4D2F0;
    color: #000;  
}





@media only screen and (max-width:1334px) {

    .cards{
        width: 99%;
        grid-template-columns: repeat(2,1fr);
    } 
}


@media only screen and (max-width:624px) {

    .cards{
         grid-template-columns: 100%;
    } 
}

/*-----------------------------------------------------------------------------------------*/

