@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  font-family: "Poppins", sans-serif;
}
*{
    margin: 0;
    padding: 0;
}
.photo{
    border-radius: 100px;
}
.container{
    background-color: white;
    width: 80%;
    height: 83vh;
   margin-top: 8%;
   margin-left: auto;
   margin-right:auto;
}
.divphoto{
    height: 39vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}
.divdata{
    height: 43vh;
    background-color: #222242;
}

.photo{
    width: 12%;
    height: 23vh;
position: absolute;
top: 8%;
left: 45%;
}
span{
    font-size: 35px;
    position: absolute;
    top: 35%;
    left: 35%;
}

.Lablegroup,.LabelAssinaments,.LabelID{
    font-size: 15px;
    position: absolute;
    top: 40%;
    left: 35%;  
}

.name,.stname{
   position: absolute;
    top: 65%;
    left: 35%; 
    color: white; 
    font-size: 25px;


}
.spe,.stspe{
    position: absolute;
    top: 72%;
    left: 35%; 
    color: white; 
    font-size: 25px;
}
.stname,.stspe{
    padding-left: 25%;
}
.bt1{
    position: absolute;
    left: 30%;
    top: 85%;
    width: 20%;
    border: none;
    background-color: white;
    height: 35px;
    color: #222242;
    border-radius: 25px;
    text-align: center;
height: 6vh;
font-size: 18px;
}
.bt1:hover{
    color: #222242;
    background-color: white;
    font-weight: bolder;
    border: 2px solid #222242;
    cursor: pointer;
}
.bt2{
    position: absolute;
    left: 55%;
    top: 85%;
    width: 20%;
    border: none;
    background-color: #ffa734;;
    height: 35px;
    color: white;
    border-radius: 25px;
    text-align: center;
    height: 6vh;
font-size: 18px;
}
.bt2:hover{
    color: #e18812;;
    background-color: white;
    font-weight: bolder;
    border: 2px solid #ffa734;;
    cursor: pointer;

}


@media(max-width:912px)
{  
.name,.stname{
   position: absolute;
    top: 60%;
    left: 35%; 
    color: white; 
    font-size: 20px;


}
.spe,.stspe{
    position: absolute;
    top: 68%;
    left: 35%; 
    color: white; 
    font-size: 20px;
}
.bt1,.bt2{
    position: absolute;
    top: 78%;
}
span{
    font-size: 35px;
    position: absolute;
    top: 32%;
    left: 32%;
}

.Lablegroup,.LabelAssinaments,.LabelID{
    font-size: 15px;
    position: absolute;
    top: 37%;
    left: 34%;  
}

.photo{
width: 14%;
height: 20vh;
position: absolute;
top: 0%;

}}



@media(max-width:682px)
{  
.name,.stname{
   position: absolute;
    top: 58%;
    left: 35%; 
    color: white; 
    font-size: 20px;

}
.spe,.stspe{
    position: absolute;
    top: 65%;
    left: 35%; 
    color: white; 
    font-size: 20px;

}
.stspe,.stname{
    margin-left: 2%;
}

span{
    font-size: 35px;
    position: absolute;
    top: 33%;
    left: 35%;
}

.photo{
width: 14%;
height: 20vh;
position: absolute;
top: 0%;

}
}



@media(max-width:582px)
{ 
    .container{
        margin-top: 15%;
    } 
.name,.stname{
   position: absolute;
    top: 58%;
    left: 25%; 
    color: white; 
    font-size: 20px;

}
.spe,.stspe{
    position: absolute;
    top: 65%;
    left: 25%; 
    color: white; 
    font-size: 20px;

}
.stspe,.stname{
    margin-left: 11%;
}

span{
    font-size: 35px;
    position: absolute;
    top: 33%;
    left: 31%;
}

.Lablegroup,.LabelAssinaments,.LabelID{
    font-size: 15px;
    position: absolute;
    top: 37%;
    left: 31%;  
}
#group{
    position: absolute;
    top: 28%;
    left: 27%;  
}
#id{
    position: absolute;
    top: 28%;
    left: 38%;
}
#file{
    position: absolute;
    top: 28%;
    left: 34%;
}
.LabelID{
    position: absolute;
    top: 33%;
    left: 40%;  
}
.LabelAssinaments{
    position: absolute;
    top: 33%;
    left: 33%; 
}
.Lablegroup{
    position: absolute;
    top: 33%;
    left: 26%; 
}}


@media(max-width:1300px)
{ 
.photo{
width: 14%;
height: 20vh;
position: absolute;
top: 6%;
left: 45%;
}}


@media(max-width:1100px)
{ 
.photo{
width: 14%;
height: 20vh;
position: absolute;
top: 4%;
left: 45%;
}}

@media(max-width:560px)
{ 
.photo{
width: 20%;
height: 20vh;
position: absolute;
top: 0%;
left: 40%;

}}